<div class="alert alert-info">
  <p>El contenido del menú puede estar vinculado con una <strong>página</strong>
  o puede ser un enlace a una <strong>URL externa</strong>. En este caso, introduzca la URL completa.</p>
</div>
<form name="menu_item_form" class="form-horizontal">

  <% if defined?@menu_item and @menu_item %>
    <input type="hidden" id="id" name="id" value="<%=@menu_item.id%>"/>
  <% end %>

  <% if defined?@menu and @menu %>
    <input type="hidden" id="menu_name" name="menu_name" value="<%=@menu.name%>"/>
  <%end%>

  <% if defined?@parent_id and @parent_id %>
    <input type="hidden" id="parent_id" name="parent_id" value="<%=@parent_id%>"/>
  <% end %>

  <div class="form-group">
    <label class="col-xs-12" for="title">Título</label>
    <div class="col-sm-12">
      <input class="form-control" type="text" id="title" name="title" placeholder="Título" <% if @menu_item %>value="<%=@menu_item.title%>"<%end%>>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-12" for="title">Descripción</label>
    <div class="col-sm-12">
      <input class="form-control" type="text" id="description" name="description" placeholder="Descripción" maxlength="256" <% if @menu_item %>value="<%=@menu_item.description%>"<%end%>>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-12" for="title">Página</label>
    <div class="col-sm-11">
      <select class="form-control"  id="content_id" name="content_id" placeholder="Página">
        <option value="">No tiene página asociada</option>
        <% @pages.each do |page| %>
          <option value="<%=page.id%>" <%if @menu_item and page.id == @menu_item.content_id%>selected<%end%>><%=page.title%></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="col-xs-12" for="title">Enlace externo</label>
    <div class="col-sm-12">
      <input class="form-control" type="text" id="link_route" name="link_route" placeholder="Descripción" maxlength="128" <% if @menu_item %>value="<%=@menu_item.link_route%>"<%end%>>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12">
      <button <% if @menu_item%>id="update_menu_item_button"<%else%>id="create_menu_item_button"<%end%>
        class="button btn btn-sm btn-primary pull-right" type="button"><i class="fa fa-save push-5-r"></i><% if @menu_item%>Actualizar<%else%>Crear<%end%></button>
    </div>
  </div>

</form>