<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.block_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
  <%=t.block_management.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%"><%=t.block_management.table.name%></th>
         <th class="table-header-title" scope="col" style="width:20%"><%=t.block_management.table.description%></th>
         <th class="table-header-title" scope="col" style="width:20%"><%=t.block_management.table.module%></th>
         <th class="table-header-title" scope="col" style="width:20%"><%=t.block_management.table.region%></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.name %></td>
      <td class="table-cell"><%%= entity.description %></td>
      <td class="table-cell"><%%= entity.module_name %></td>
      <td class="table-cell"><%%= entity.region %></td> 
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
      
        <input type="hidden" id="id" name="id" <%% if (entity) { %> value="<%%=entity.id%>" <%% } %>/>

        <div class="form-fields">
                
          <div class="formrow">
            <label for="name" class="fieldtitle"><%=t.block_management.form.name.label%></label>
            <input type="text" maxlength="32" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.name%>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="module_name" class="fieldtitle"><%=t.block_management.form.module.label%></label>
            <input type="text" maxlength="64" id="module_name" name="module_name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.module_name%>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="theme" class="fieldtitle"><%=t.block_management.form.theme.label%></label>
            <input type="text" maxlength="64" id="theme" name="theme" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.theme%>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="region" class="fieldtitle"><%=t.block_management.form.region.label%></label>
            <select name="region" id="region" class="fieldcontrol"></select>
          </div>

          <div class="formrow">
            <label for="weight" class="fieldtitle"><%=t.block_management.form.weight.label%></label>
            <select name="weight" id="weight" class="fieldcontrol"></select>
          </div>

          <div class="formrow">
            <label for="show_title" class="fieldtitle"><%=t.block_management.form.show_title.label%></label>
            <input type="radio" name="show_title" id="show_title_true" value="true" <%%if (entity && entity.show_title) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
            <input type="radio" name="show_title" id="show_title_false" value="false" <%%if (entity && !entity.show_title) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
          </div> 

          <div class="formrow">
            <label for="name" class="fieldtitle"><%=t.block_management.form.title.label%></label>
            <input type="text" maxlength="64" id="title" name="title" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.title%>" <%% } %> />
          </div>          
          
          <div class="formrow">
            <label for="visibility_condition" class="fieldtitle"><%=t.block_management.form.visibility_condition.label%></label>
            <input type="text" maxlength="80" id="visibility_condition" name="visibility_condition" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.visibility_condition%>" <%% } %> />
          </div>  

          <div id="tabs">
            <ul>
              <%= render_tab('tab_user_groups', t.block_management.form.users_allowed.label) %>
              <%= render_tab('tab_content_types', t.block_management.form.content_type_allowed.label) %>
              <%= render_tab('tab_pages', t.block_management.form.pages_allowed.label) %>          
            </ul>
          
            <div id="tab_user_groups">
              <p><%=t.block_management.form.users_allowed.description%></p>
              <div id="user_groups">
              </div>
            </div>  

            <div id="tab_content_types">
              <p><%=t.block_management.form.content_type_allowed.description%></p>
              <div id="block_content_types">
              </div>
            </div> 
          
            <div id="tab_pages">
              <p><%=t.block_management.form.pages_allowed.description%></p>
              <div class="formrow">
                <input type="radio" name="show_block_on_page" value="1" <%% if (entity && entity.show_block_on_page == 1) { %> checked="true" <%% } %>>
                 <%=t.block_management.form.pages_allowed_but.label%></input>
              </div>
              <div class="formrow">
                <input type="radio" name="show_block_on_page" value="2" <%% if (entity && entity.show_block_on_page == 2) { %> checked="true" <%% } %>>
                  <%=t.block_management.form.pages_allowed_only.label%></input>
              </div>
              <div class="formrow">
                <textarea id="show_block_on_page_list" name="show_block_on_page_list" class="fieldcontrol"><%% if (entity) {%><%%= entity.show_block_on_page_list%><%% } %></textarea>
                <div class="fielddescription"><%=t.block_management.form.pages_description.label%></div>
              </div>            
            </div>
          </div>

        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">

require(['jquery','YSDEntityManagement', 'YSDMemoryDataSource', 'YSDRemoteDataSource', 'YSDSelectSelector', 'YSDListSelector'], function($, EntityManagement, MemoryDataSource, RemoteDataSource, SelectSelector, ListSelector) {
 
  function BlockHook() {
 	   
    this.entityKey = function(entity) {
      return entity.view_name;
    }

    this.onEdit = function(entity) {    	
      $('#module_name').attr('readonly', true);
      $('#theme').attr('readonly', true);
      $('#name').attr('readonly', true);
      $('#region').focus();  	
      this.configForm(entity);
    };
  
    this.onNew = function() {
      $('#module_name').attr('readonly', true);
      $('#theme').attr('readonly', true);
  	  $('#name').focus();
  	  this.configForm(null);
    }
     
    this.onRender = function(entity) {
      
      var self = this;	
      $('#send-block-preview').bind('click', 
                                    function event(event) { 
                                      self.preview(entity); 
                                    });
      	
    }     


    this.adaptFormData = function(data) { // Adapt the form data before it's sent to backend
      
      var adaptedUsergroups = [];
      var adaptedContentTypes = [];

      for (idx in data['usergroups']) {
        adaptedUsergroups.push({'group': data['usergroups'][idx]});
      }

      for (idx in data['content_types']) {
        adaptedContentTypes.push({'id' : data['content_types'][idx]});
      }


      data['usergroups'] = adaptedUsergroups;
      data['content_types'] = adaptedContentTypes;

  	  return data;
    };

    
    /* ---------------------- */
        
    this.configForm = function(entity) {
    
         // Configure weights
         var weights = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10];
         var weightDataSource = new MemoryDataSource(weights);
         var weightValue = (entity && entity.weight)?entity.weight:0;
         var selectWeight = new SelectSelector('weight', weightDataSource, weightValue);
         
         // Configure the regions
         var regions = [null,<%= regions.map do |e| "'#{e}'" end.join(',') %>];
         var regionsDataSource = new MemoryDataSource(regions);
         var regionValue = (entity && entity.region)?entity.region:null;
         var selectRegion = new SelectSelector('region', regionsDataSource, regionValue);        
     	
     	   // Configure the user groups
         var ugDataSource = new RemoteDataSource('/api/usergroups',{id:'group', description:'name'});
         var ugValue = (entity&&entity.usergroups)?entity.usergroups.map(function(item){return item.group;}):[]; 
         var ugSelector = new ListSelector('user_groups', 'usergroups[]', ugDataSource, ugValue );

         // Configure the content types
         var ctDataSource = new RemoteDataSource('/api/content-types',{id:'id', description:'name'});
         var ctValue = (entity&&entity.content_types)?entity.content_types.map(function(item){return item.id;}):[];
         var ctSelector = new ListSelector('block_content_types','content_types[]', ctDataSource, ctValue);

    }
    
    this.preview = function(entity) { /* preview the block */

      var url = '/admin/cms/block/preview/' + entity.id;
      
      $('#block-preview-result').load(url);
      
    }
    
  	
  };
  
  var urls = { query_url  : '/api/blocks',
    	         create_url : '/api/block',
  	           update_url : '/api/block',
  	           delete_url : '/api/block',
  	           get_url    : '/api/block'
  	         };

  var blockHook = new BlockHook();
  var blocksManager = new EntityManagement(urls, 'block', <%= blocks_page_size %>, blockHook, {prefix:'/admin/cms'});
 
  $('.entity-title').html('Blocks');

});
  
</script>
