  <div class="comments content_data_block">
     
     <h3 class="content_data_block_title"><%= t.comments.title(comment_set.comments_count)%></h3>
     
     <div id="comment_form_container">
  
       <form id="comment_form" name="comment_form">

         <input type="hidden" name="publishing_workflow_id" value="<%=publishing_workflow_id%>"/>

         <div class="formrow">
           <textarea id="message" name="message" rows="10" placeholder="<%= t.comments.message%>" class="texteditor fieldcontrol"></textarea>
         </div>
         <p style="text-align:right"> <span id="message_length"></span> <%= t.available_chars %> </p>
           
         <%= element_custom %>

         <div class="formrow-botonera">
           <input type="button" id="post" name="post" value="<%= t.comments.post %>" class="post-button action-button entity-management-button"/>   
         </div>  
           
         <input type="hidden" name="comment_set[id]" id="comment_set[id]" value="<%= comment_set.id %>"/>
         <input type="hidden" name="comment_set[reference]" id="comment_set[reference]" value="<%= comment_set.reference %>"/>
                    
       </form> 
    
     </div>    

     <div class="content_data_row">
       <div id="comments-container">
       </div>
     </div>

  </div>

  <%= element_custom_extensions %>

  <!-- Renders the comments -->

  <script type="text/tmpl" id="comments_script">
   
       <div id="comments_pagination" class="pagination comments_pagination">
       </div>

       <div id="comments_holder">
       </div>   
          
       <div id="comment_footer">
       </div>

  </script>

  <!-- Renders a comment -->

  <script type="text/tmpl" id="comment_script">

    <div class="container_12 conversation_item conversation_item_other">
      <div class="grid_1">
        <%% if (comment.composer_user && comment.composer_user.photo_url_tiny) { %>
        <img class="rounded profile-img-tiny" src="<%%=comment.composer_user.photo_url_tiny%>"/>
        <%% } else { %>
        <img class="rounded profile-img-tiny" src="<%=settings.profile_default_photo%>"/>
        <%% } %>
      </div>
      <div class="grid_11">
        <div class="left-space">
          <div class="conversation_item_header">
            <span class="message_detail_sender"><%%= self.format_sender_url(comment)%></span> 
          </div>
          <div class="conversation_item_body">
             <%%= self.format_message(comment) %>
          </div>
          <div class="conversation_item_footer">
            <span class="message_detail_date smaller_text less_contrast_text"><%%= self.format_message_date_time(comment) %></span>
          </div>
        </div>
      </div>
    </div>
  
  </script>



