<h2><%=t.console_cms.title%></h2>
<%=t.console_cms.description%>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/mctypes"><%=t.console_cms.content_types%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/contents"><%=t.console_cms.contents%></a></p>
    </div>
  </div>  
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/comments"><%=t.console_cms.comments%></a></p>
    </div>
  </div>  
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/taxonomy-management"><%=t.console_cms.taxonomies%></a></p>
    </div>
  </div>  
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/new/content"><%=t.console_cms.new_content%></a></p>
    </div>
  </div>      
 </div>