<div class="top-navigation-bar" style="display:none">
  <h2 class="entity-title"><%=t.console_cms.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div class="container_12">
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/content/new"><%=t.console_cms.new_content%></a></p>
      </div>
    </div>      
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/content-types"><%=t.console_cms.content_types%></a></p>
      </div>
    </div>
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/contents"><%=t.console_cms.contents%></a></p>
      </div>
    </div>  
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/comments"><%=t.console_cms.comments%></a></p>
      </div>
    </div>  
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/taxonomy"><%=t.console_cms.taxonomies%></a></p>
      </div>
    </div>   
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/templates"><%=t.console_cms.templates%></a></p>
      </div>
    </div>   
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/blocks"><%=t.console_cms.blocks%></a></p>
      </div>
    </div> 
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/views"><%=t.console_cms.views%></a></p>
      </div>
    </div>        
    <div class="grid_3">
      <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
        <p class="centered_text"><a href="/admin/cms/menu-management"><%=t.console_cms.menus%></a></p>
      </div>
    </div>                 
  </div>
</div>