<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.content_type_management.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  <%= t.content_type_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:25%"><%=t.content_type_management.form.name.label%></th>
         <th class="table-header-title" scope="col" style="width:75%"><%=t.content_type_management.form.description.label%></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.name %></td>
      <td class="table-cell"><%%= entity.description %></td>
    </tr>

</script>

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
        
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos de la vista</h3>
              </div>
              <div class="block-content">
                
                <form name="element" id="content_type_management_form">
                  <div class="formrow">
                    <label for="id" class="fieldtitle"><%=t.content_type_management.form.id.label%> <span class="mandatoryfield">*</span></label>
                    <input type="text" maxlength="20" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
                  </div>

                  <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active">
                      <a href="#btabs-static-ctype_description" data-toggle="tab"><%=t.content_type_management.form.description_block.label%></a>
                    </li>
                    <!--li>
                      <a href="#btabs-static-ctype_messages" data-toggle="tab"><%=t.content_type_management.form.messages_block.label%></a>
                    </li-->
                    <li>
                      <a href="#btabs-static-ctype_presentation" data-toggle="tab"><%=t.content_type_management.form.presentation_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-ctype_workflow" data-toggle="tab"><%=t.content_type_management.form.workflow_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-ctype_permissions" data-toggle="tab"><%=t.content_type_management.form.permissions_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-ctype_other" data-toggle="tab">Otros</a>
                    </li>                                     
                  </ul>
                  <div class="tab-content clearfix">
                    <div class="tab-pane active" id="btabs-static-ctype_description">
                      <div class="formrow">
                        <label for="name" class="fieldtitle"><%=t.content_type_management.form.name.label%> <span class="mandatoryfield">*</span></label>
                        <input type="text" maxlength="50" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
                      </div>

                      <div class="formrow">
                        <label for="description" class="fieldtitle"><%=t.content_type_management.form.description.label%></label>
                        <textarea name="description" id="description" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.description%><%% } %></textarea>
                      </div>
                      <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>                    
                    </div>
                    <!--div class="tab-pane" id="btabs-static-ctype_messages">
                      <div class="formrow">
                        <label for="message_on_new_content" class="fieldtitle"><%=t.content_type_management.form.message_on_new_content.label%></label>
                        <textarea name="message_on_new_content" id="message_on_new_content" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.message_on_new_content%><%% } %></textarea>
                      </div>
                      <p style="text-align:right"> <span id="message_on_new_content_length"></span> <%= t.available_chars %> </p>

                      <div class="formrow">
                        <label for="message_on_edit_content" class="fieldtitle"><%=t.content_type_management.form.message_on_edit_content.label%></label>
                        <textarea name="message_on_edit_content" id="message_on_edit_content" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.message_on_edit_content%><%% } %></textarea>
                      </div>
                      <p style="text-align:right"> <span id="message_on_edit_content_length"></span> <%= t.available_chars %> </p>                    
                    </div-->
                    <div class="tab-pane" id="btabs-static-ctype_presentation">
                      <div class="formrow">
                        <label for="display" class="fieldtitle"><%=t.content_type_management.form.display_prop.label%></label>
                        <select name="display" id="display" class="fieldcontrol"/>
                      </div>
                      <!--div class="formrow">
                        <label for="display_css_class" class="fieldtitle"><%=t.content_type_management.form.display_css_class.label%></label>
                        <textarea name="display_css_class" id="display_css_class" 
                          class="fieldcontrol" rows="3"><%% if (entity) { %><%%=entity.display_css_class%><%% } %></textarea>
                      </div>
                      <p style="text-align:right"> <span id="display_css_class_length"></span> <%= t.available_chars %> </p>              
                      <div class="formrow">
                        <label for="max_length" class="fieldtitle"><%=t.content_type_management.form.max_length.label%></label>
                        <input type="text" name="max_length" id="max_length" maxlength="4" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.max_length%>" <%%}%> />
                      </div>              
                      <div class="formrow">
                        <label for="template" class="fieldtitle"><%=t.content_type_management.form.template.label%></label>
                        <textarea name="template" id="template" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.template%><%% } %></textarea> 
                      </div-->                    
                    </div>
                    <div class="tab-pane" id="btabs-static-ctype_workflow">
                      <div class="formrow">
                        <label for="publishing_workflow_id" class="fieldtitle"><%=t.content_type_management.form.workflow.label%></label>
                        <select name="publishing_workflow_id" id="publishing_workflow_id" class="fieldcontrol"/>
                      </div>                    
                    </div>
                    <div class="tab-pane" id="btabs-static-ctype_permissions">
                      <div class="formrow">
                        <label class="fieldtitle"><%=t.content_type_management.form.usergroups.label%></label>
                        <div id="content_type_usergroups"></div>
                      </div>                    
                    </div>
                    <div class="tab-pane" id="btabs-static-ctype_other">
                      <%% if (entity) { %>
                        <%= edit_element_form %>
                      <%% } else { %>
                        <%= new_element_form %>
                      <%% } %>                    
                    </div>                    
                  </div>
                  <hr>
                  <div class="form-group">
                    <div class="col-md-12">
                        <%% if (entity) { %>
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                        <%% } else { %>
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.create%>"/>
                        <%% } %>
                    </div>
                  </div>     
                  <br><br><br>   
                </form>
              </div>
            </div>
          </div>
     
</script>

<%= element_form_extension %>
