<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">

  <%= t.content_type_management.description %>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%"><%=t.content_type_management.form.id.label%></th>
         <th class="table-header-title" scope="col" style="width:30%"><%=t.content_type_management.form.name.label%></th>
         <th class="table-header-title" scope="col" style="width:50%"><%=t.content_type_management.form.description.label%></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.id %></td>
      <td class="table-cell"><%%= entity.name %></td>
      <td class="table-cell"><%%= entity.description %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel"><%=t.content_type_management.form.id.label%></div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.id %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel"><%=t.content_type_management.form.name.label%></div> <div class="entity-fieldvalue"><%%= entity.name %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel"><%=t.content_type_management.form.description.label%></div> <div class="entity-fieldvalue"><%%= entity.description %></div></div>
       <div class="entity-field">
         <div class="entity-fieldlabel"><%=t.content_type_management.form.aspects.label%></div> 
           <table class="table">
               <thead class="table-header">
                 <tr>
                   <th class="table-header-title" width="20%"><%=t.content_type_management.form.aspect_aspect.label%></th>
                   <th class="table-header-title" width="40%"><%=t.content_type_management.form.aspect_weight.label%></th>
                 </tr>
               </thead>
               <tbody>
               <%% for (var idx=0;idx<entity.aspects.length;idx++) {%>
                 <tr class="table-row">
                   <td class="table-cell"><%%=entity.aspects[idx].aspect%></td>
                   <td class="table-cell"><%%=entity.aspects[idx].weight%></td>
                 </tr>
               <%% } %>
               </tbody>
             </table>
         </div>
         <div class="entity-fieldlabel"><%=t.content_type_management.form.usergroups.label%></div>
           <div class="entity-fieldvalue"><%%= self.model.entityHooks[0].formatUserGroups(entity) %></div>
         </div>
       </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" id="content_type_management_form">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title"><%=t.content_type_management.title%></h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <div class="formrow">
            <label for="id" class="fieldtitle"><%=t.content_type_management.form.id.label%> <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="20" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="name" class="fieldtitle"><%=t.content_type_management.form.name.label%> <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="50" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="description" class="fieldtitle"><%=t.content_type_management.form.description.label%></label>
            <textarea name="description" id="description" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.description%><%% } %></textarea>
          </div>
          <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>

          <div class="formrow">
            <fieldset>
              <legend><%=t.content_type_management.form.aspects.label%></legend>
              <div id="content_type_aspects"></div>       
            </fieldset>
          </div>
          
          <div class="formrow">
            <fieldset>
              <legend><%=t.content_type_management.form.usergroups.label%></legend> 
              <div id="content_type_usergroups"></div>
            </fieldset>
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
 require(['jquery', 'YSDEntityManagement', 'YSDRemoteDataSource', 'YSDListSelector', 'YSDForms'], function($, EntityManagement, RemoteDataSource, ListSelector, YSDForms) {
 
  function ContentTypeHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onEdit = function(entity) {
      $('#id').attr('readonly', true);
      $('#name').focus();  	
      this.configForm(entity);
    };
  
    this.onNew = function() {
  	  $('#id').focus();
  	  this.configForm(null);
    }

    this.adaptFormData = function(data) {
      
      data.aspects    = this.adaptAspects(data.aspects, data.id);
      data.usergroups = this.adaptUsergroups(data.usergroups, data.id); 
      
      console.log(data);

      return data;	
    	
    }

    this.adaptAspects = function(aspects, contentTypeId) { /* It converts from an array of string (each is an aspect) to an array of ContentTypeAspect */
      
      if (!(aspects instanceof Array)) {
        aspects = [aspects];
      }

      return aspects.map(function(value, index, array) {

         return { aspect : value,
                  content_type : { id: contentTypeId }
                };   

      });

    }

    this.adaptUsergroups = function(usergroups, contentTypeId) { /* It converts from an array of string (each is an usergroup group) to an array of ContentTypeUserGroup */
      
      if (!(usergroups instanceof Array)) {
        usergroups = [usergroups];
      }

      return usergroups.map(function(value, index, array) {

        return { usergroup: { group : value},
                 content_type: {id : contentTypeId}
               };

      });

    }

    
    this.configForm = function(entity) {

         // Configure the aspects
         var dataSource = new RemoteDataSource('/aspects/entity');
         var value = [];
         if (entity && entity.aspects) {
           value = entity.aspects.map(function(value, index, array) {
             return value.aspect;
           });
         }
         var selector = new ListSelector('content_type_aspects', 'aspects', dataSource, value );

         // Configure the usergroups
         var ugDataSource = new RemoteDataSource('/usergroups',{id:'group', description:'name'});         
         var ugValue = [];
         if (entity && entity.usergroups) {
           ugValue = entity.usergroups.map(function(value, index, array) {
              return value.usergroup_group;
           });
         }         
         var ugSelector = new ListSelector('content_type_usergroups', 'usergroups', ugDataSource, ugValue ); 
        

         // Limit the text area length
         YSDForms.limit_text_area_content_size(document.getElementById('description'), 256, 
            function (content_remain) {
              document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
            }
         );    
    	
    }

    this.configValidation = function() {

         $('#content_type_management_form').validate({
            
            submitHandler: function(form) 
            {
               return false;
            },
                               
            rules : { // rules
               'id' : {
                 required: true
               },
               'name': {
                 required: true 
               }
            },
            
            messages : { // messages
               'id' : {
                required: '<%= t.content_type_management.form.id.required%>'
               },
               'name': {
                 required : '<%=t.variable_management.form.name.required%>'
               }
            }
            
          }
         );

    }
  	
    this.formatUserGroups = function(entity) { /* Format the usergroups for the representation */
      
      var usergroups = entity.usergroups.map(function(value, index, array) {
        return value.usergroup_group;
      });
      
      return usergroups; 
    }  

  };
  
  var urls = { 
  	           query_url  : '/content-types',
    	         create_url : '/content-type',
  	           update_url : '/content-type',
  	           delete_url : '/content-type',
  	           get_url    : '/content-type'
  	         };

  var contentTypeHook = new ContentTypeHook();
  var contentsTypeManager = new EntityManagement(urls, 'content type', 12, contentTypeHook);
 
  $('.entity-title').html('<%=t.content_type_management.title%>');
 
 });
  
</script>
