<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.content_management.title%></h2>
</script>

<script type="text/tmpl" id="elements_description">
 <%= t.content_management.description %>
</script>

<script type="text/tmpl" id="elements_search">
  <form name="contents_search" id="contents_search" style="overflow:visible">
    <div class="formrow" style="overflow:visible">
      <select name="content_type_id" id="content_type_id" class="combo"/>
      <select name="publishing_state_id" id="publishing_state_id" class="combo"/>
      <!--div id="categories_container" style="display:inline-block">
        <select name="categories[]" id="categories" multiple="multiple" style="display:none"/>
      </div-->
      <input type="button"  class="action-button entity-management-button search-entity-button" value="<%=t.content_management.search_form.search_button.label%>">
    </div>
  </form>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">
    
  <form name="bulk_actions" id="bulk_actions">
  <div class="table-container">
    <table id="elements_table" class="table">
       <thead class="table-header">
         <tr>
           <th class="table-header-title" scope="col" style="width:1em"></th>
           <th class="table-header-title" scope="col" style="width:30%">Title</th>
           <th class="table-header-title" scope="col" style="width:15%">Type</th>
           <th class="table-header-title" scope="col" style="width:15%">State</th>
           <th class="table-header-title" scope="col" style="width:15%">Author</th>
           <th class="table-header-title" scope="col" style="width:20%">Created</th>
         </tr>
       </thead>
       <tbody id="elements_tbody" class="table-tbody">             
       </tbody>
    </table>
  </div>
  </form>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell selectable-entity"><input type="checkbox" name="id[]" value="<%%=entity.id%>"/></td>
      <td class="table-cell"><a href="<%%='/content/'+entity.id%>" target="_blank"><%%=entity.title %></a></td>
      <td class="table-cell element-row-selector" rel="<%%= index %>"><%%= entity.type %></td>
      <td class="table-cell element-row-selector" rel="<%%= index %>"><span class="content-status <%%=self.model.entityHooks[0].formatPublishingStateClass(entity)%>"><%%=self.model.entityHooks[0].formatPublishingState(entity)%></span></td>
      <td class="table-cell element-row-selector" rel="<%%= index %>"><%%= entity.creation_user %></td>
      <td class="table-cell element-row-selector" rel="<%%= index %>"><%%= self.formatDate(entity.creation_date) %></td>    
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
</script>

<!-- It's used to show the content detail -->

<!--iframe id="content_detail" class="content_detail" style="padding:5px; border: none; width: 98%">
</iframe-->

<script type="text/javascript">
 
require(["YSDEntityManagement", "YSDSelectSelector", "YSDRemoteDataSource", "YSDDataAdapter", "YSDHierachyListAdapter", "YSDSelectHierarchicalSelector", "YSDGui", "jquery", "jquery.fcbkcomplete"], 
        function(YSDEntityManagement, SelectSelector, RemoteDataSource, DataAdapter, YSDHierachyListAdapter, YSDSelectHierarchicalSelector, YSDGui, $) {
 
  var contentsHook = {
    	   
    manager: null,
    publishingStates: JSON.parse('<%=publishing_states%>'),    

    entityKey : function(entity) {
      return entity.id;
    },

    onRenderEntities : function(entities) {
    
      $('.new-entity-button').hide();
      $('.edit-entity-button').hide();
      
      var self = this;
      $('.element-row-selector').bind('click',
               function() {                   
                 var index = new Number($(this).attr('rel'));
                 self.loadContentForEdit(self.manager.model.getEntities()[index]);
               });               

    }, 

    onRenderSearch : function() {
    
      this.configSearchForm();
  
    },
  
    loadContent: function(entity) {
      
      var return_url = window.location.href;
      window.location.href = '/mcontent/' + entity.id + '?destination=/mcontents';

    },

    loadContentForEdit: function(entity) {

      var return_url = window.location.href;
      window.location.href = '/mcontent/edit/' + entity.id + '?destination=/mcontents';

    },

    formatPublishingStateClass : function(entity) {
     
      var text='';

      if (entity && entity.publishing_state_id) {
        text = 'content-status-' + entity.publishing_state_id.toLowerCase().replace('_','-');
      }

      return text;

    },

    formatPublishingState: function(entity) {

      var text='';
      if (entity) {
        text= this.publishingStates[entity.publishing_state_id];
      }

      return text;

    },

    configSearchForm : function() {
      
      // content type search
      var contentTypesDataSource = new RemoteDataSource("/ctypesuser",{'id':'id','description':'name'});
      var contentTypesListSelector = new SelectSelector("content_type_id", contentTypesDataSource, null, true, '- View all content types -');
      
      var publishingStateDataSource = new RemoteDataSource("/publishing/states");
      var publishingStateListSelector = new SelectSelector("publishing_state_id", publishingStateDataSource, null, true, '- View all publishing states -');
      
    }
  	
  };

  //$('#content_detail').dialog({title: 'Content', width: 480, height: 480, autoOpen: false})

  var urls = { query_url  : '/contents',
    	         create_url : '/content',
  	           update_url : '/content',
  	           delete_url : '/content',
  	           get_url    : '/content'
  	         };
  
  var hooks = [contentsHook];
  
     	           
  var contentsManager = new YSDEntityManagement(urls, 'content', <%=settings.contents_page_size%>, hooks);
  
  contentsHook.manager = contentsManager;

});
  
</script>
