<%= include('entity-management', {:element_action => element_action}) %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=title%></h2> 
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
 <%= description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" method="POST">
        
        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%=entity.id%>"/>
          <%% } %>

          <input type="hidden" id="content_type[id]" name="content_type[id]" value="<%= content_type %>"/>
                           
          <div class="container_12"> 
            <div class="grid_8">
              <div class="formrow">
                <input type="text" maxlength="120" id="title" name="title" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.title %>" <%% } %>/>
              </div>
              <div class="formrow">
                <input type="text" maxlength="80" id="subtitle" name="subtitle" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.subtitle%>" <%% } %>/>
              </div>              
              <%= include('entity-tabs-above-group', {:edit_element_form_above_ingroup_tab => edit_element_form_above_ingroup_tab,
                                                      :edit_element_form_above_ingroup => edit_element_form_above_ingroup,
                                                      :new_element_form_above_ingroup_tab => new_element_form_above_ingroup_tab,
                                                      :new_element_form_above_ingroup => new_element_form_above_ingroup}) %>   
              <%= partial(:insert_picture) %>
              <div id="content_body" class="formrow">
                 <textarea rows="20" cols="50" id="body" name="body" class="fieldcontrol texteditor"><%% if (entity) {%><%%=entity.body %><%% } %></textarea>
              </div>
              <div class="formrow">
                <label for="key" class="fieldtitle"><%=t.guiblock.others.form.alias.label%></label>
                <input type="text" id="alias" name="alias" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.alias %>" <%% } %> />
                <div class="fielddescription"><%=t.guiblock.others.form.alias.description%></div>
              </div>              
            </div>
            <div class="grid_4">
              <div class="left-margin">  
                <%= include('entity-tabs-above-no-group', {:edit_element_form_above=> edit_element_form_above,
                                                           :new_element_form_above=> new_element_form_above}) %>                         
                <div id="content_taxonomies" class="formrow" style="display:none">
                  <label class="fieldtitle"><%= t.content_management.form.categories.label %></label>
                  <div id="taxonomies">            
                  </div>
                  <div class="fielddescription">
                    <%= t.content_management.form.categories.description %>
                  </div>
                </div>   
              </div>
            </div>
          </div>

          <%= include('entity-tabs-below', {:edit_element_form => edit_element_form,
                                            :edit_element_form_ingroup_tab => edit_element_form_ingroup_tab,
                                            :edit_element_form_ingroup => edit_element_form_ingroup,
                                            :new_element_form => new_element_form,
                                            :new_element_form_ingroup_tab => new_element_form_ingroup_tab,
                                            :new_element_form_ingroup => new_element_form_ingroup}) %>
                        
        </div>
                       
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <input type="button" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <% if defined?(creation_buttons)
                      creation_buttons.each do |button| %>  
                    <input type="button" class="create-entity-button action-button entity-management-button" value="<%=button[:text]%>" class="<%=button[:class]%>" data-create-url="<%=button[:url]%>"/>
                  <%  end 
                     end %>
                <%% } %>
             </div>
        </div>
     
     </form>
     
</script>

<%= element_form_extension %>
<%= element_action_extension %>
<%= partial(:insert_picture_template) %>

