<%= include('entity-management') %>

<style type="text/css">
  .ui-tabs-vertical { width:95%; border:none; padding-left:0px;}
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 25%; background: #EEE;}
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 95%; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #DDD; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; border-bottom: none;}
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {}
  .ui-tabs-vertical .ui-tabs-panel { float: right; width: 70%; padding: 5px 10px 10px 10px; border: 1px solid #CCC; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
  .content-type-fieldvalue {
  text-align: right;
  width: auto;
  background: whiteSmoke;
  border-radius: 5px;
  padding: 5px;
  float: right;  
   }
</style>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><span class="content-type-fieldvalue entity-fieldvalue"><%%= entity.type.charAt(0).toUpperCase() + entity.type.slice(1) %></span></div>
       <div class="entity-field"><span class="entity-fieldlabel">Title</span> <span class="entity-fieldvalue"><a href="<%%='/content/'+entity.key%>"><%%=entity.title %></a></span> </div>
       <%%if (entity.categories_info && entity.categories_info.length > 0) {%>
       <div class="entity-field"><span class="entity-fieldlabel">Categories/Tags</span> <span class="entity-fieldvalue"><%%= self.model.entityHooks[0].formatCategories(entity) %></span></div>
       <%%}%>
       
       <div class="entity-field">
         <div id="tabs_template_above">
           <ul>
             <%= element_template_above_tab %>
           </ul>      
           <%= element_template_above %>
         </div>
       </div>

       <div class="entity-field">
         <span class="entity-fieldlabel">Body</span>
         <span class="entity-fieldvalue more-block">
           <div class="more-less">
             <div class="more-block">
               <%%=entity.body%>
             </div>
           </div>
         </span>
       </div>

       <div class="entity-field"><span class="entity-fieldlabel">Alias</span> <span class="entity-fieldvalue"><%%= entity.alias %></span> </div>

       <div class="entity-field">
         <div id="tabs_template">
         
           <ul>
             <%= element_template_tab %>
             <li><a href="#audit_template">Audit</a></li>
             <li><a href="#meta_template">Meta</a></li>
           </ul>      
                  
           <%= element_template %>
         
           <div id="audit_template">
             <div class="entity-field"><span class="entity-fieldlabel">Creation date</span> <span class="entity-fieldvalue"><%%= self.formatDate(entity.creation_date) %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Creation user</span> <span class="entity-fieldvalue"><%%= entity.creation_user %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Last update</span> <span class="entity-fieldvalue"><%%= self.formatDate(entity.last_update) %></span> </div>        
             <div class="entity-field"><span class="entity-fieldlabel">Last update user</span> <span class="entity-fieldvalue"><%%= entity.last_update_user %></span> </div>
           </div>
         
           <div id="meta_template">
             <div class="entity-field"><span class="entity-fieldlabel">Subtitle</span> <span class="entity-fieldvalue"><%%= entity.subtitle %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Description</span> <span class="entity-fieldvalue"><%%= entity.description %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Summary</span> <span class="entity-fieldvalue"><%%= entity.summary %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Keywords</span> <span class="entity-fieldvalue"><%%= entity.keywords %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Language</span> <span class="entity-fieldvalue"><%%= entity.language %></span> </div>
             <div class="entity-field"><span class="entity-fieldlabel">Author</span> <span class="entity-fieldvalue"><%%= entity.author %></span> </div>
           </div>
        </div>
      </div>             

      <% if element_action.strip.length > 0 %>
      <div class="element_template_actions">
        <div class="element_template_actions_buttons">
          <%= element_action %>
        </div>
      </div>
      <% end %>

   </div>
   
</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element" method="POST">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title"><%= title %></h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="key" name="key" value="<%%=entity.key%>"/>
          <%% } %>

          <input type="hidden" id="type" name="type" value="<%= content_type %>"/>
                
          <div class="formrow">
            <label for="title" class="fieldtitle">Title <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="120" id="title" name="title" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.title %>" <%% } %>/>
            <div class="fielddescription">The content title.</div>
          </div>

          <div id="content_taxonomies" class="formrow" style="display:none">
            <label class="fieldtitle">Categories</label>
            <div class="entity-block fieldcontrol" id="taxonomies">            
            </div>
            <div class="fielddescription">Categories permit you to tag or categorize the content.</div>
          </div>
          
          <div id="tabs_above">
            <ul>
              <%= element_form_above_tab %>
            </ul>          
            <%= element_form_above %>
          </div>

          <div class="formrow">
            <label for="body" class="fieldtitle">Content <span class="mandatoryfield">*</span></label>
            <textarea rows="20" id="body" name="body" class="fieldcontrol texteditor"><%% if (entity) {%><%%=entity.body %><%% } %></textarea>
            <div class="fielddescription">The body of the content</div>
          </div>

          <div class="formrow">
            <label for="key" class="fieldtitle">Alias</label>
            <input type="text" id="alias" name="alias" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.alias %>" <%% } %> />
            <div class="fielddescription">An optional URL, human readable, which can be used to access the content.</div>
          </div>

          <div id="tabs">
          
            <ul>
              <%= element_form_tab %>
              <li><a href="#meta_form">Meta</a></li>
            </ul>
                       
            <%= element_form %>
            
            <div id="meta_form">
              <div class="formrow">
                <label for="subtitle" class="fieldtitle">Subtitle</label>
                <input type="text" maxlength="80" id="subtitle" name="subtitle" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.subtitle%>" <%% } %>/>
                <div class="fielddescription">The subtitle of the content</div>
              </div>
              <div class="formrow">
                <label for="description" class="fieldtitle">Description</label>
                <textarea rows="4" id="description" name="description" class="fieldcontrol"><%% if(entity) {%><%%=entity.description %> <%% } %></textarea>
                <div class="fielddescription">The content description. It's used as a metatag when the page is rendered.</div>
              </div>
              <div class="formrow">
                <label for="summary" class="fieldtitle">Summary</label>
                <textarea rows="4" id="summary" name="summary" class="fieldcontrol"><%% if (entity) {%><%%=entity.summary %> <%% } %></textarea>
                <div class="fielddescription">The content summary. It's used in when render a set of contents in one page.</div>
              </div>
              <div class="formrow">
                <label for="keywords" class="fieldtitle">Keywords</label>
                <textarea rows="3" id="keywords" name="keywords" class="fieldcontrol"><%% if (entity) {%><%%=entity.keywords %> <%% } %></textarea>
                <div class="fielddescription">Meta keywords</div>
              </div>
              <div class="formrow">
                <label for="language" class="fieldtitle">Language</label>
                <input type="text" maxlength="3" id="language" name="language" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.language %>"<%% } %>/>
                <div class="fielddescription">The language in which the content has been written.</div>
              </div>
            </div>  
                     
          </div>
                        
        </div>
                       
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="button" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="button" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>

<%= element_form_extension %>
<%= element_extension %>
<%= element_action_extension %>

<script type="text/javascript">

// jquery
// tabs => jquery.ui

require(["jquery", "YSDEntityManagement", "YSDEntityManagementComplementHooks", "YSDRemoteDataSource", "YSDHierachyListAdapter", "YSDSelectHierarchicalSelector","jquery.ui"], function($, EntityManagement, EntityManagementComplementHooks, YSDRemoteDataSource, YSDHierachyListAdapter, YSDSelectHierarchicalSelector) {
  	
  var contentsHook = {
 	   
 	entity: null,   
 	   
    entityKey : function(entity) {
      return entity.key;
    },

    onEdit : function(entity) {
      this.entity = entity;
      $('#title').focus();
      this.configForm(); 
      this.buildCategories(entity.type); 	              
    },
  
    onNew : function() {
      this.entity = null;
  	  $('#title').focus();
  	  this.configForm();
  	  this.buildCategories('<%=content_type%>');
    },
    
    onRenderEntities : function(entities) {
    
      $('.new-entity-button').hide();
      $('.edit-entity-button').hide();
      $('.page-navigation').hide();
      	
    },    
    
    onRender : function(entity) {
      this.entity = entity;
      $('.new-entity-button').hide();
      $('.page-navigation').hide();
      $('.navigation-bar-nav-buttons').hide();
      $('#tabs_template_above').tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
      $('#tabs_template_above li').removeClass("ui-corner-top").addClass("ui-corner-left");
  	  $('#tabs_template').tabs();      	
  	  this.configureMoreLessBody();
    },
  	
  	adaptFormData : function(data) {
  	
  	  var send = {};
  	  
  	  for (idx in data) {
  	  
  	    if (idx != 'categories_info') {
  	      send[idx] = data[idx]	
  	    }
  	  	
  	  }
  	  
  	  var categories = [];  	  
  	  for (idx in data.categories_by_taxonomy) {
  	    var category = data.categories_by_taxonomy[idx];
  	    for (idx_category in category) {
  	      category[idx_category] = new Number(category[idx_category]).valueOf();	
  	      categories.push(category[idx_category]);   	
  	    }  	    	
  	  }
  	  
  	  send.categories = categories;

  	  return send;
  		
  	},
    
    /* ------- Internal function --------- */
    
    configForm : function() {

      $('#tabs_above').tabs().addClass( "ui-tabs-vertical ui-helper-clearfix" );
      $( "#tabs_above li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );

      $('#tabs').tabs();
      
    },
  	  
    configureMoreLessBody : function() {

      // The height of the content block when it's not expanded
      var adjustheight = 90; 
      // The "more" link text
      var moreText = "+  More";
      // The "less" link text
      var lessText = "- Less";

      // Sets the .more-block div to the specified height and hides any content that overflows
      $(".more-less .more-block").css('height', adjustheight).css('overflow', 'hidden');

      // The section added to the bottom of the "more-less" div
      $(".more-less").append('<p class="continued">[&hellip;]</p><a href="#" class="adjust"></a>');

      // Set the "More" text
      $("a.adjust").text(moreText);

      $(".adjust").toggle(function() {
         $(this).parents("div:first").find(".more-block").css('height', 'auto').css('overflow', 'visible');
         // Hide the [...] when expanded
         $(this).parents("div:first").find("p.continued").css('display', 'none');
         $(this).text(lessText);
      }, function() {
         $(this).parents("div:first").find(".more-block").css('height', adjustheight).css('overflow', 'hidden');
         $(this).parents("div:first").find("p.continued").css('display', 'block');
         $(this).text(moreText);
      });

    },

  	buildCategories : function(contentType) {
  	
      var taxonomies = document.getElementById('taxonomies');
      while (taxonomies.hasChildNodes())
      {
  	    taxonomies.removeChild(taxonomies.firstChild);	
      }
  	
	  var self = this;
  	  
  	  $.getJSON('/taxonomy-content-type/'+contentType,
  	        function success_handler(data) {
  	        	
  	          if (data.length == 0) {
  	            $('#content_taxonomies').hide();	
  	          }
  	          else {
  	            for (idx in data) {
  	              self.buildCategory(data[idx].taxonomy_id);       	
  	            }
  	          	$('#content_taxonomies').show();
  	          }	

  	        });
  		
  	},
  	
  	buildCategory : function(taxonomy_id) {
  	  
  	  var selectName = 'categories_by_taxonomy['+taxonomy_id+'][]';      
      var container = document.getElementById('taxonomies');
      
      var select = document.createElement('select');
      select.setAttribute('id',selectName);
      select.setAttribute('name', selectName);
      select.setAttribute('class', 'fieldcontrol');
      select.setAttribute('size', 10);
      select.setAttribute('multiple', true);
      container.appendChild(select);
      
      var dataSource = new YSDRemoteDataSource('/terms/'+taxonomy_id,null,[YSDHierachyListAdapter]);
      var value = null;
      if (this.entity && this.entity.categories_by_taxonomy && this.entity.categories_by_taxonomy[taxonomy_id]) {
        value = this.entity.categories_by_taxonomy[taxonomy_id]; 
      }
      var termsSelect = new YSDSelectHierarchicalSelector(selectName, dataSource, value, true);
  	  
  	},
  	
  	formatCategories : function(entity) {
  	    	
      var categories = [];
      for (index in entity.categories_info) { 
         categories.push('<span class="category">'+entity.categories_info[index].description+'</span>');
      }	    	
      
      return categories;	
  		
  	}
  	
  };

  var urls = { query_url  : '/contents',
    	       create_url : '/content',
  	           update_url : '/content',
  	           delete_url : '/content',
  	           get_url    : '/content'
  	         };
  
  var hooks = [contentsHook];
  
  // Add the complement hooks
  hooks = hooks.concat(EntityManagementComplementHooks.complements);
     	           
  var contentsManager = new EntityManagement(urls, 'content', <%=settings.contents_page_size%>, hooks,
                                             {url_base: '<%= url_base %>', action: '<%= action %>', id: '<%= id %>'});
 
  $('.entity-title').html('<%= title %>');
  
});
  
</script>
