            <div id="content_others_form" class="guiblock">
              <div class="formrow">
                <label for="key" class="fieldtitle"><%=t.guiblock.others.form.alias.label%></label>
                <input type="text" id="alias" name="alias" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.alias %>" <%% } %> />
                <div class="fielddescription"><%=t.guiblock.others.form.alias.description%></div>
              </div>
              <div class="formrow">
                <label for="key" class="fieldtitle"><%=t.guiblock.others.form.link.label%></label>
                <input type="text" id="link" name="link" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.link %>" <%% } %> />
                <div class="fielddescription"><%=t.guiblock.others.form.link.description%></div>
              </div>
              <div class="formrow">
                <label for="cache_life" class="fieldtitle"><%=t.guiblock.others.form.cache_life.label%></label>
                <input type="text" maxlength="10" id="cache_life" name="cache_life" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.cache_life%>" <%% } %> />
                <div class="fielddescription"><%=t.guiblock.others.form.cache_life.description%></div>
              </div>              
              <div class="formrow">
                <label for="block" class="fieldtitle"><%=t.guiblock.others.form.block.label%></label>
                <input type="radio" name="block" id="block_true" value="true" <%%if (entity && entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                <input type="radio" name="block" id="block_false" value="false" <%%if (entity && !entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
              </div>              
            </div>    