            <div id="meta_form" class="guiblock">           
              <div class="formrow">
                <label for="description" class="fieldtitle"><%=t.guiblock.meta.form.description.label%></label>
                <textarea rows="4" id="description" name="description" class="fieldcontrol"><%% if(entity) {%><%%=entity.description%> <%% } %></textarea>
                <div class="fielddescription"><%=t.guiblock.meta.form.description.description%></div>
              </div>
              <div class="formrow">
                <label for="summary" class="fieldtitle"><%=t.guiblock.meta.form.summary.label%></label>
                <textarea rows="4" id="summary" name="summary" class="fieldcontrol"><%% if (entity) {%><%%=entity.summary %><%%}%></textarea>
                <div class="fielddescription"><%=t.guiblock.meta.form.summary.description%></div>
              </div>
              <div class="formrow">
                <label for="keywords" class="fieldtitle"><%=t.guiblock.meta.form.keywords.label%></label>
                <textarea rows="3" id="keywords" name="keywords" class="fieldcontrol"><%% if (entity) {%><%%=entity.keywords%> <%% } %></textarea>
                <div class="fielddescription"><%=t.guiblock.meta.form.keywords.description%></div>
              </div>
              <div class="formrow">
                <label for="language" class="fieldtitle"><%=t.guiblock.meta.form.language.label%></label>
                <input type="text" maxlength="3" id="language" name="language" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.language %>"<%% } %>/>
                <div class="fielddescription"><%=t.guiblock.meta.form.language.description%></div>
              </div>
              <div class="formrow">
                <label for="title_anchor_link" class="fieldtitle"><%=t.guiblock.meta.form.title_anchor_link.label%></label>
                <input type="text" maxlength="80" id="title_anchor_link" name="title_anchor_link" class="fieldcontrol" <%% if(entity) {%>value="<%%=entity.title_anchor_link%>" <%% } %></>
                <div class="fielddescription"><%=t.guiblock.meta.form.title_anchor_link.description%></div>
              </div>              
            </div>  