<%= include('entity-management') %>

<!-- Renders the element title -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  <%= t.menu_item_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:40%">Title</th>
         <th class="table-header-title" scope="col" style="width:45%">Route</th>
         <th class="table-header-title" scope="col" style="width:15%">Weight</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell">
        <%% for (var i=0;i<entity.level;i++) { %>
          <span class="indentation"></span> 
        <%% } %>
        <%%= entity.title %>
      </td>
      <td class="table-cell"><%%= entity.link_route %></td>
      <td class="table-cell"><%%= entity.weight %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Title</div> <div class="entity-fieldvalue"><%%= entity.title %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Route</div> <div class="entity-fieldvalue"><%%= entity.link_route %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Weight</div> <div class="entity-fieldvalue"><%%= entity.weight %></div> </div>
     </div>
     <div class="element_template_actions">
       <div class="element_template_actions_buttons">
         <%= call_hook(:menu_item_element_action) %>
       </div>
     </div>     

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="form-fields">
        
          <%% if (entity) { %>
          <input type="hidden" id="id" name="id" value="<%%= entity.id %>"/>
          <%% } %>
          <%% if (!entity) {%>
          <input type="hidden" id="menu[name]" name="menu[name]" value="<%%= self.model.configuration.parentId %>"/>
          <%% } %>
          <input type="hidden" id="module" name="module" value="site"/>
        
          <div class="formrow">
            <label for="title" class="fieldtitle">Title <span class="mandatoryfield">*</span></label>
            <input type="text" id="title" name="title" class="fieldcontrol" maxlength="80" <%% if (entity) { %> value="<%%= entity.title %>" <%% } %>/>
          </div>

          <div class="formrow">
            <label for="link_route" class="fieldtitle">Route</label>
            <input type="text" id="link_route" name="link_route" class="fieldcontrol" maxlength="128" <%% if (entity) { %> value="<%%= entity.link_route %>" <%% } %>/>
          </div>
            
          <div class="formrow">
            <label for="name" class="fieldtitle">Description</label>
            <input type="text" maxlength="256" id="description" name="description" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.description %>" <%% } %> />
          </div>

          <div class="formrow">
            <label for="weight" class="fieldtitle">Weight</label>
            <select name="weight" id="weight" class="fieldcontrol"></select>
          </div>
                
          <div class="formrow">
            <label for="parent" class="fieldtitle">Parent menu</label>
            <select name="parent[id]" id="parent[id]" class="fieldcontrol" size="10"></select>
          </div>      
                
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>

<%= call_hook(:menu_item_element_action_extension) %>

<script type="text/javascript">
 
require(['YSDTreeEntityManagement', 'YSDMemoryDataSource',  'YSDRemoteDataSource', 'YSDHierachyListAdapter', 'YSDSelectSelector', 'YSDSelectHierarchicalSelector', "YSDEntityManagementComplementHooks", 'jquery'], function(TreeEntityManagement, MemoryDataSource, RemoteDataSource, HierachyListAdapter, SelectSelector, SelectHierarchicalSelector, EntityManagementComplementHooks, $) {

  function MenuItemHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onNew = function() {
  	  $('#title').focus();
  	  this.configForm(null);
    };

    this.onEdit = function(entity) {
      $('#title').focus();  	
      this.configForm(entity);
    };
           
    this.configForm = function(entity) {
    
         // Configure weights
         var weights = [-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,10];
         var weightDataSource = new MemoryDataSource(weights);
         var weightValue = (entity && entity.weight)?entity.weight:0;
         var selectWeight = new SelectSelector('weight', weightDataSource, weightValue);
         
         // Configure parents
         var parentsDataSource = new RemoteDataSource('/menu-items-parent-candidate/'+ menuItemsManager.model.configuration.parentId,null,[HierachyListAdapter]);
         var parentValue = (entity && entity.parent_id)?entity.parent_id:null;
         var parentTerms = new SelectHierarchicalSelector('parent[id]', parentsDataSource, parentValue, true);
    	
    }
        
  	
  };
    
  var urls = { 
  	           query_url  : '/menu-items',
    	       create_url : '/menu-item',
  	           update_url : '/menu-item',
  	           delete_url : '/menu-item',
  	           get_url    : '/menu-item'
  	         };
  
  var menuItemHook = new MenuItemHook();
  
  var menuItemHooks = [menuItemHook];
  
  // Add the complement hooks
  menuItemHooks = menuItemHooks.concat(EntityManagementComplementHooks.complements);
      
  var menuItemsManager = new TreeEntityManagement(urls, 'menu item', 12, menuItemHooks, {parent_filtered:true});
  
});

</script>
