<div class="entry clearfix">
    <div class="prefix_2 clearfix">
    <% if content and content.title and not content.title.empty? %>
       <h2 class="content-teaser-title"><a href="<%=content.path%>"><%= content.title %></a></h2>
    <% end %>
    </div>
    <div class="grid_2 clearfix">
      <% if content and content.creation_date and not content.creation_date.nil? %>
        <div class="content-teaser-date">
           <%=content.creation_date.strftime("%d . %m . %Y")%>
        </div>
      <% end %>  
  
      <% if content and content.categories and not content.categories.empty? %>
        <% content.categories.each do |category| %>
          <div class="content-teaser-category">
            <a href='<%="/category/#{category.id}"%>'><%= category.description %></a>
          </div>
        <% end %>
      <% end %> 
    </div>
    <div class="grid_7" style="margin-left:0px; margin-right:0px">
      <div class="content-teaser-body">
        <%= content.body if content and content.body and not content.body.empty?%>
      </div>      
    </div>
</div>