<div class="content-wrapper <%="content-type-#{content.content_type.id}" if content.content_type%> <%=content.content_type.display_css_class if content.content_type%>">

  <% if defined?element_custom_above and element_custom_above.strip.length > 0%>
  <div class="content-custom content-custom-above">
    <%= element_custom_above %>
  </div>
  <% end %>
  
  <% if content and not content.title.empty? %>
    <h2 class="content-title">
        <a href="<%= (content.alias.strip.length>0)?(format_url_with_language(content.alias)):(format_url_with_language(content.path))%>"><%= content.title%></a>
    </h2>
  <% end %>

  <% if content and content.subtitle and not content.subtitle.empty? %>
    <h3 class="content-subtitle">
        <%=content.subtitle%>
    </h3>
  <% end %>
  
  <% if defined?content_custom and content_custom %>
    <div class="content-custom">
      <% content_custom.each do |c| %>
        <%= c[:body] %>
      <% end %>
    </div>
  <% end %>      

  <% if defined?content_above_body and content_above_body %>
    <div class="content-above-body">
      <% content_above_body.each do |c| %>
        <%= c[:body] %>
      <% end %>
    </div>
  <% end %>

  <div class="content-body">
    <%= content_body if content_body%>
  </div>

  <% if defined?content_below_body and content_below_body %>
    <div class="content-below-body">
      <% content_below_body.each do |c| %>
        <%= c[:body] %>
      <% end %>     
    </div>
  <% end %>

  <% if defined?element_custom and element_custom.strip.length > 0 %>
  <div class="content-custom content-custom-below">
    <%= element_custom %>
  </div>
  <% end %>

  <% if defined?element_custom_nogroup and element_custom_nogroup.strip.length > 0 %>
  <div class="content-custom-nogroup">
    <%= element_custom_nogroup %>
  </div>
  <% end %>

  <% if defined?content_above_actions and content_above_actions %>
    <div class="content-above-actions">
      <% content_above_actions.each do |c| %>
        <%= c[:body] %>
      <% end %>   
    </div>
  <% end %>

  <% if defined?element_actions and element_actions.strip.length > 0 %>
  <div class="content-actions">
    <%= element_actions %>
  </div>
  <% end %>

  <% if defined?element_custom_extensions and element_custom_extensions.strip.length > 0 %>
  <%= element_custom_extensions if defined?element_custom_extensions %>
  <% end %>

  <% if defined?element_actions_extensions and element_actions_extensions.strip.length > 0 %>
  <%= element_actions_extensions if defined?element_actions_extensions%>
  <% end %>

</div>