<div class="content-leftextras-wrapper">

  <!-- Extras (above the content ) -->
  <% if defined?element_custom_above and element_custom_above.strip.length > 0%>
  <div class="content-custom">
    <%= element_custom_above %>
  </div>
  <% end %>

  <!-- Content body -->

  <div class="content-body">
    <!-- Content title -->
    <% if content and not content.title.empty? %>
      <h2 class="content-title"><a href="<%= (content.alias.strip.length>0)?(content.alias):(content.path)%>"><%= content.title%></a></h2>
    <% end %>

  <!-- Content header (subtitle) -->
    <% if content and not content.subtitle.empty? %>
      <div class="content-header">
         <h3 class="content-subtitle"><%=content.subtitle%></h3>
      </div>
    <% end %>
    <%= content_body if content_body%>
  </div>
  
  <!-- Content extras -->
  <% if defined?element_custom and element_custom.strip.length > 0 %>
  <div class="content-custom">
    <%= element_custom %>
  </div>
  <% end %>
  <!-- Content extras no group-->
  <% if defined?element_custom_nogroup and element_custom_nogroup.strip.length > 0 %>
  <div class="content-custom-nogroup">
    <%= element_custom_nogroup %>
  </div>
  <% end %>
  
  <% if defined?element_actions and element_actions.strip.length > 0 %>
  <div class="content-actions">
    <%= element_actions %>
  </div>
  <% end %>

  <% if defined?element_custom_extensions and element_custom_extensions.strip.length > 0 %>
  <%= element_custom_extensions if defined?element_custom_extensions %>
  <% end %>

  <% if defined?element_actions_extensions and element_actions_extensions.strip.length > 0 %>
  <%= element_actions_extensions if defined?element_actions_extensions%>
  <% end %>

</div>