<div class="entry clearfix <%="content-type-#{content.content_type.id}" if content.content_type%> <%=content.content_type.display_css_class if content.content_type%>">
    
    <div class="grid_12">
      <% if content and content.photo_url_full %>
         <img class="rounded top-margin" style="width:100%" src="<%=content.photo_url_full%>"/>
      <% end %> 
    </div>

    <div class="grid_12">
      <div class="top-margin">
      <% if content and content.title and not content.title.empty? %>
        <h3 class="content-teaser-title"><a href="<%=content.path%>"><%= content.title %></a></h3>
      <% end %>
      <div class="top-separator bottom-separator">
        <% if content and content.creation_date and not content.creation_date.nil? %>
          <span class="content-teaser-date less_contrast_text smaller_text" data-icon="&#xe071;" aria-hidden="true">
            <%=content.creation_date.strftime("%d . %m . %Y")%>
          </span>
        <% end %>  
        <% if defined?author and author %>
          <span class="content-teaser-author less_contrast_text smaller_text" data-icon="&#xe00c;" aria-hidden="true">
            <%=author %>
          </span>
        <% end %>
        <% if content and content.categories and not content.categories.empty? %>
          <span data-icon="&#xe000;" class="content-teaser-category less_contrast_text smaller_text" aria-hidden="true">
          <% content.categories.each do |category| %>
            <span class="content-teaser-category less_contrast_text smaller_text">
              <a href='<%="/category/#{category.id}"%>'><%= category.description %></a>
            </span>
          <% end %>
          </span>
        <% end %> 
      </div>
      <div class="top-margin top-space content-teaser-body">
        <p><%= content.excerpt if content and content.body and not content.body.empty?%> ... <a class="read-more" href="<%=content.path%>"><%=t.content.read_more%></a></p>
      </div> 
      </div>      
    </div>
</div>