<div class="content-wrapper">

  <% if defined?element_custom_above and element_custom_above.strip.length > 0%>
  <div class="content-custom">
    <%= element_custom_above %>
  </div>
  <% end %>
  
  <div class="content-body">
    <%= content_body if content_body%>
  </div>

  <% if defined?element_custom and element_custom.strip.length > 0 %>
  <div class="content-custom">
    <%= element_custom %>
  </div>
  <% end %>

  <% if defined?element_custom_nogroup and element_custom_nogroup.strip.length > 0 %>
  <div class="content-custom-nogroup">
    <%= element_custom_nogroup %>
  </div>
  <% end %>

  <% if defined?content_above_actions and content_above_actions %>
    <div class="content-above-actions">
      <% content_above_actions.each do |c| %>
        <%= c[:body] %>
      <% end %>   
    </div>
  <% end %>

  <% if defined?element_actions and element_actions.strip.length > 0 %>
  <div class="content-actions">
    <%= element_actions %>
  </div>
  <% end %>

  <% if defined?element_custom_extensions and element_custom_extensions.strip.length > 0 %>
  <%= element_custom_extensions if defined?element_custom_extensions %>
  <% end %>

  <% if defined?element_actions_extensions and element_actions_extensions.strip.length > 0 %>
  <%= element_actions_extensions if defined?element_actions_extensions%>
  <% end %>

</div>