    <div class="view_body">
       <ul class="view_list">
         <% view_data[:data].each do |element| %>
           <li class="view_list_item">
             <% view.view_fields.each do |view_field| %>
                <span <%if view_field.class.to_s.strip.length > 0%>class="<%= view_field.class%>"<%end%>>
                  <% if view_field.link %>
                    <a href="<%=view_field.evaluate_link(element)%>" <%if view_field.link_class.to_s.strip.length > 0%>class="<%= view_field.link_class%>"<%end%>>
                  <% end %>
                  <% if view_field.image %>
                    <img src="<%=element.attribute_get(view_field.field)%>"  <%if view_field.image_class.to_s.strip.length > 0%>class="<%= view_field.image_class%>"<%end%>/>
                  <% else %>
                    <% if element.attribute_get(view_field.field).kind_of?(Time) %>
                      <%= element.attribute_get(view_field.field).strftime('%d.%m.%y') %>
                    <% else %>
                      <%= element.attribute_get(view_field.field) %>
                    <% end %>
                  <% end %>
                  <% if view_field.link %>
                    </a>
                  <% end %>
                </span>
             <% end %>
           </li>
         <% end %>
       </ul>
    </div>