    <div class="view_body">
      <% view_data[:data].each do |element| %>
        <div class="view_div_element <%= view.render_options['container_class'] if view_render_options.has_key?('container_class')%>">
          <% view.view_fields.each do |view_field| %>
             <div class="view_div_element_attribute <%= view_field.class if view_field.class.to_s.strip.length > 0 %>">
                <% if view_field.link %>
                  <a href="<%=view_field.evaluate_link(element)%>" <%if view_field.link_class.to_s.strip.length > 0%>class="<%= view_field.link_class%>"<%end%>>
                <% end %>
                <% if view_field.image %>
                   <img src="<%=element.attribute_get(view_field.field)%>" <%if view_field.image_class.to_s.strip.length > 0%>class="<%= view_field.image_class%>"<%end%>/>
                <% else %>
                    <% if element.attribute_get(view_field.field).kind_of?(Time) %>
                      <%= element.attribute_get(view_field.field).strftime('%d.%m.%y') %>
                    <% else %>
                      <%= element.attribute_get(view_field.field) %>
                    <% end %>
                <% end %>
                <% if view_field.link %>
                  </a>
                <% end %>
             </div>
          <% end %>
        </div>
      <% end%>
    </div>