<%= include('entity-management') %>

<!-- Renders the element title -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title">Content translation</h2>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
  
  <form name="content_translation" id="content_translation">

    <input type="hidden" name="content_id" value="<%=content_id%>"/>

    <div class="form-fields">
    
      <div class="formrow">
        <label for="language" class="fieldtitle">Language <span class="mandatoryfield">*</span></label>
        <select name="language" id="language" class="fieldcontrol"/> 
        <div class="fielddescription">The translation language.</div>
      </div>
    
      <div class="formrow">
        <label for="title" class="fieldtitle">Title <span class="mandatoryfield">*</span></label>
        <input type="text" maxlength="120" id="title" name="title" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.title %>" <%% } %>/>
        <div class="fielddescription">The content title.</div>
      </div>
      <div class="formrow">
        <label for="body" class="fieldtitle">Content <span class="mandatoryfield">*</span></label>
        <textarea rows="20" id="body" name="body" class="fieldcontrol texteditor"><%% if (entity) {%><%%=entity.body %><%% } %></textarea>
        <div class="fielddescription">The body of the content</div>
      </div>
      <div id="meta_form">
        <div class="formrow">
          <label for="subtitle" class="fieldtitle"><%=t.guiblock.others.form.alias.label%></label>
          <input type="text" maxlength="80" id="alias" name="alias" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.alias%>" <%% } %>/>
          <div class="fielddescription"><%=t.guiblock.others.form.alias.description%></div>
        </div>        
        <div class="formrow">
          <label for="subtitle" class="fieldtitle">Subtitle</label>
          <input type="text" maxlength="80" id="subtitle" name="subtitle" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.subtitle%>" <%% } %>/>
          <div class="fielddescription">The subtitle of the content</div>
        </div>        
        <div class="formrow">
          <label for="description" class="fieldtitle">Description</label>
          <textarea rows="4" id="description" name="description" class="fieldcontrol"><%% if(entity) {%><%%=entity.description %> <%% } %></textarea>
          <div class="fielddescription">The content description. Its used as a metatag when the page is rendered.</div>
        </div>
        <div class="formrow">
          <label for="summary" class="fieldtitle">Summary</label>
          <textarea rows="4" id="summary" name="summary" class="fieldcontrol"><%% if (entity) {%><%%=entity.summary %> <%% } %></textarea>
          <div class="fielddescription">The content summary. Its used in when render a set of contents in one page.</div>
        </div>
        <div class="formrow">
          <label for="keywords" class="fieldtitle">Keywords</label>
          <textarea rows="3" id="keywords" name="keywords" class="fieldcontrol"><%% if (entity) {%><%%=entity.keywords %> <%% } %></textarea>
          <div class="fielddescription">Meta keywords</div>
        </div>
      </div>
      <div class="bottom-navigation-bar navigation-bar">
        <div class="navigation-bar-crud-buttons">
           <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
        </div>
      </div>
    </div>
  </form>
  
</script>

<script type="text/javascript">

require(['jquery','YSDEntityManagement', 'YSDRemoteDataSource', 'YSDSelectSelector'],
        function($, EntityManagement, RemoteDataSource, SelectSelector) {

  function ContentTranslationHook() {
 	  
    this.language = '<%=language%>';
    this.firstLoad = true;

  	this.onEdit = function(entity) {
  	  this.configForm(entity);	
  	}
  	
  	this.onNew = function() {
  	  this.configForm(null);	
  	}
  	
    this.onRenderEntities = function(entities) {
    
      $('.new-entity-button').hide();
      $('.edit-entity-button').hide();
      $('.page-navigation').hide();
      	
    }
    
    this.configForm = function(entity) {

      $('.top-navigation-bar').hide();       

      var dataSource = new RemoteDataSource('/api/translationlanguages',{id:'code', description:'description'});
      var value = (this.entity && this.entity.language)?this.entity.language:this.language; 
      var selector = new SelectSelector('language', dataSource, value );
    
      var self = this;

      dataSource.addListener('data_available', function(event) {
        if (self.firstLoad && event.data.length > 0) {
           var newLanguage = event.data[0].id;
           if (self.language != newLanguage) {
             self.manager.model.urls.get_url = self.manager.model.urls.get_url.replace('/'+self.language+'/', '/'+newLanguage+'/');
             self.language = newLanguage;
             self.firstLoad = false;
             self.manager.model.get();
           }
         }      
      });

      $('#language').change(function(event) { 
      	  self.changeLanguage(event); 
      	 });    	
    }
    

    this.changeLanguage = function(event) {
      
      var newLanguage = $('#language option:selected').val();	

      if (typeof this.manager != 'undefined') {
        this.manager.model.urls.get_url = this.manager.model.urls.get_url.replace('/'+this.language+'/', '/'+newLanguage+'/');
        this.language = newLanguage;
        this.manager.model.get(); /* Reload the element */
      }    

    }
  	  	
  };
  
  var urls = {
               get_url        : '/api/translation/<%=language%>/content/<%=content_id%>',
               update_url     : '/api/translation/content'
             };
             
  var contentTranslationHook = new ContentTranslationHook();
  var contentTranslation = new EntityManagement(urls, 'content translation', 1, contentTranslationHook, 
                                               {url_base: '/admin/cms/translate/content', action: 'edit', hold_form_after_action: true});
 
  $('.entity-title').html('Content translation');
  
 });

</script>