<%= include('entity-management') %>

<!-- Renders the element title -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title">Template translation</h2>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

  <form name="template_translation" id="template_translation">
     
    <input type="hidden" name="template_id" value="<%=template_id%>"/>

    <div class="form-fields">
    
      <div class="formrow">
        <label for="language" class="fieldtitle">Language <span class="mandatoryfield">*</span></label>
        <select name="language" id="language" class="fieldcontrol"/> 
        <div class="fielddescription">The translation language.</div>
      </div>

      <div class="formrow">
         <label for="text" class="fieldtitle"><%= t.template_management.form.text %><span class="mandatoryfield">*</span></label>
         <textarea name="text" id="text" class="fieldcontrol editable_text" rows="20"><%% if (entity) { %><%%=entity.text%><%%}%></textarea>
      </div>
    
      <div class="bottom-navigation-bar navigation-bar">
        <div class="navigation-bar-nav-buttons">
           <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
        </div>
      </div>
    </div>
  </form>
  
</script>

<script type="text/javascript">

require(['jquery','YSDEntityManagement', 'YSDRemoteDataSource', 'YSDSelectSelector'],
        function($, EntityManagement, RemoteDataSource, SelectSelector) {

  function TemplateTranslationHook() {
 	   
    this.language = '<%=language%>';

  	this.onEdit = function(entity) {
  	  this.configForm(entity);	
  	}
  	
  	this.onNew = function() {
  	  this.configForm(null);	
  	}
  	
    this.onRenderEntities = function(entities) {
    
      $('.new-entity-button').hide();
      $('.edit-entity-button').hide();
      $('.page-navigation').hide();
      	
    }
    
    this.configForm = function(entity) {       

      $('.top-navigation-bar').hide();

      var dataSource = new RemoteDataSource('/translationlanguages',{id:'code', description:'description'});
      var value = (this.entity && this.entity.language)?this.entity.language:this.language; 
      var selector = new SelectSelector('language', dataSource, value );
      
      var self = this;
      $('#language').change(function(event) { 
      	  self.changeLanguage(event) 
      	 });    	
    }
    
    this.changeLanguage = function(event) {
      
      var newLanguage = $('#language option:selected').val(); 

      if (typeof this.manager != 'undefined') {
        this.manager.model.urls.get_url = this.manager.model.urls.get_url.replace('/'+this.language+'/', '/'+newLanguage+'/');
        this.language = newLanguage;
        this.manager.model.get(); /* Reload the element */
      }  
      
    }
  	  	
  };
  
  var urls = {
               get_url        : '/api/translation/<%=language%>/template/<%=template_id%>',
               update_url     : '/api/translation/template'
             };
             
  var templateTranslationHook = new TemplateTranslationHook();
  var templateTranslation = new EntityManagement(urls, 'template translation', 1, templateTranslationHook, 
                                            {url_base: '/admin/cms/translate/term', action: 'edit', hold_form_after_action: true});
 
  $('.entity-title').html('Template translation');
  
 });

</script>