<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.view_management.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  <%=t.view_management.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%">View</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
         <th class="table-header-title" scope="col" style="width:15%">Style</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
  
  <button id="import_button" class="form-button">Importar</button>

  <%= import_form %>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.view_name %></td>
      <td class="table-cell"><%%= entity.description %></td>
      <td class="table-cell"><%%= entity.style %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Name</div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.view_name %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Model</div><div class="entity-fieldvalue"><%%=entity.model_name%></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Style</div><div class="entity-fieldvalue"><%%=entity.style%></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Title</div><div class="entity-fieldvalue"><%%=entity.title%></div></div>             
       <div class="entity-field"><div class="entity-fieldlabel">Fields</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.v_fields)%></code></div>
       <div class="entity-field"><div class="entity-fieldlabel">Conditions</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_conditions)%></code></div>
       <div class="entity-field"><div class="entity-fieldlabel">Order</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_order)%></code></div>       
       <div class="entity-field"><div class="entity-fieldlabel">Arguments</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_arguments)%></code></div>       
       <div class="entity-field"><div class="entity-fieldlabel">URL</div> <div class="entity-fieldvalue"><a href="/<%%=entity.url%>" target="_blank"><%%= entity.url %></a></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Render</div> <div class="entity-fieldvalue"><%%= entity.render %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Limit</div> <div class="entity-fieldvalue"><%%= entity.view_limit %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Pagination</div> <div class="entity-fieldvalue"><%%= entity.pagination %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Page size</div> <div class="entity-fieldvalue"><%%= entity.page_size %></div> </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        <div class="form-fields">
        
          <div class="formrow">
            <label for="view_name" class="fieldtitle"><%=t.view_management.form.name.label%><span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="32" id="view_name" name="view_name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.view_name%>" <%% } %> />
            <div class="fielddescription"><%=t.view_management.form.name.description%></div>
          </div>

          <div id="tabs">
            <ul>
              <%= render_tab('view_description', t.view_management.form.description_block.label) %>
              <%= render_tab('view_style', t.view_management.form.style_block.label) %>
              <%= render_tab('view_query', t.view_management.form.query_block.label) %>
              <%= render_tab('view_result', t.view_management.form.result_block.label) %>
              <%= render_tab('view_page', t.view_management.form.page_block.label) %>
              <%= render_tab('view_extras', t.view_management.form.extras_block.label) %>
            </ul>

            <div id="view_description">
              <div class="formrow">
                <label for="description" class="fieldtitle"><%=t.view_management.form.description.label%></label>
                <textarea name="description" id="description" class="fieldcontrol"><%% if (entity) { %><%%=entity.description%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.description.description%></div>
              </div>
              <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>
            </div>

            <div id="view_style">
              <div class="formrow">
                <label for="style" class="fieldtitle"><%=t.view_management.form.style.label%></label>
                <select name="style" id="style" class="fieldcontrol"></select>
                <div class="fielddescription"><%=t.view_management.form.style.description%></div>
              </div>
              <div id="view_fields_row" class="formrow">
                <label for="v_fields" class="fieldtitle"><%=t.view_management.form.fields.label%></label>
                <textarea id="v_fields" name="v_fields" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.v_fields)%><%% } %></textarea>  
                <div class="fielddescription"><%=t.view_management.form.fields.description%></div>
              </div>
              <div class="formrow">
                <label for="render" class="fieldtitle"><%=t.view_management.form.render.label%></label>
                <select name="render" id="render" class="fieldcontrol"></select>
                <div class="fielddescription"><%=t.view_management.form.render.label%></div>
              </div>
              <div class="formrow">
                <label for="render_options" class="fieldtitle"><%=t.view_management.form.render_options.label%></label>
                <textarea id="render_options" name="render_options" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.render_options)%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.render_options.description%></div>
              </div>                            
            </div>

            <div id="view_query">
              <div class="formrow">
                <label for="model_name" class="fieldtitle"><%=t.view_management.form.model.label%></label>
                <select id="model_name" name="model_name" class="fieldcontrol"></select>
                <div class="fielddescription"><%=t.view_management.form.model.description%></div> 
              </div>
              <div class="formrow">
                <label for="query_conditions" class="fieldtitle"><%=t.view_management.form.conditions.label%></label>
                <textarea id="query_conditions" name="query_conditions" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_conditions)%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.conditions.description%></div>
              </div>
              <div class="formrow">
                <label for="query_order" class="fieldtitle"><%=t.view_management.form.order.label%></label>
                <textarea id="query_order" name="query_order" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_order)%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.order.description%></div>  
              </div>                    
              <div class="formrow">
                <label for="query_arguments" class="fieldtitle"><%=t.view_management.form.arguments.label%></label>
                <textarea id="query_arguments" name="query_arguments" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_arguments)%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.arguments.description%></div>  
              </div> 
            </div>

            <div id="view_result">
              <div class="formrow">
                 <label for="query_limit" class="fieldtitle"><%=t.view_management.form.limit.label%></label>
                 <input type="text" maxlength="3" id="view_limit" name="view_limit" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.view_limit%>" <%% } else { %> value="0" <%% } %> />
                 <div class="fielddescription"><%=t.view_management.form.limit.description%></div> 
              </div>
              <div class="formrow">
                <label for="pagination" class="fieldtitle"><%=t.view_management.form.pagination.label%></label>
                <input type="radio" name="pagination" id="pagination_true" value="true" <%%if (entity && entity.pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                <input type="radio" name="pagination" id="pagination_false" value="false" <%%if (entity && !entity.pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
              </div>  
              <div class="formrow">
                <label for="ajax_pagination" class="fieldtitle"><%=t.view_management.form.ajax_pagination.label%></label>
                <input type="radio" name="ajax_pagination" id="ajax_pagination_true" value="true" <%%if (entity && entity.ajax_pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                <input type="radio" name="ajax_pagination" id="ajax_pagination_false" value="false" <%%if (entity && !entity.ajax_pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
              </div>                            
              <div class="formrow" id="page_size_row">
                 <label for="page_size" class="fieldtitle"><%=t.view_management.form.page_size.label%></label>
                 <input type="text" maxlength="3" id="page_size" name="page_size" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.page_size%>" <%% } else { %> value="0" <%% } %> />
                 <div class="fielddescription"><%=t.view_management.form.page_size.description%></div> 
              </div>   
              <div class="formrow">
                 <label for="pagination" class="fieldtitle"><%=t.view_management.form.pager.label%></label>
                 <select name="pager" id="pager" class="fieldcontrol"></select>
                 <div class="fielddescription"><%=t.view_management.form.pager.description%></div>
              </div>
            </div>

            <div id="view_page">
              <div class="formrow">
                <label for="title" class="fieldtitle"><%=t.view_management.form.title.label%></label>
                <input type="text" maxlength="80" id="title" name="title" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.title%>" <%% } %> />
                <div class="fielddescription"><%=t.view_management.form.title.description%>.</div>
              </div>
              <div class="formrow">
                <label for="header" class="fieldtitle"><%=t.view_management.form.header.label%></label>
                <textarea name="header" id="view_header" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.header%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.header.description%></div>
              </div>
              <div class="formrow">
                <label for="footer" class="fieldtitle"><%=t.view_management.form.footer.label%></label>
                <textarea name="footer" id="description" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.footer%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.footer.description%></div>
              </div>               
              <div class="formrow">
                <label for="script" class="fieldtitle"><%=t.view_management.form.script.label%></label>
                <textarea name="script" id="script" class="fieldcontrol" rows="5"><%% if (entity) { %><%%=entity.footer%><%% } %></textarea>
                <div class="fielddescription"><%=t.view_management.form.script.description%></div>
              </div>                                          
              <div class="formrow">
                <label for="url" class="fieldtitle"><%=t.view_management.form.url.label%></label>
                <input type="text" maxlength="256" id="url" name="url" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.url%>" <%% } %> />
                <div class="fielddescription"><%=t.view_management.form.url.description%></div>
              </div>
            </div>

            <div id="view_extras">
              <div class="formrow">
                <label for="block" class="fieldtitle"><%=t.view_management.form.block.label%></label>
                <input type="radio" name="block" id="block_true" value="true" <%%if (entity && entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                <input type="radio" name="block" id="block_false" value="false" <%%if (entity && !entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
              </div>
            </div>

          </div>
                
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     
     <div class="guiblock" style="margin:5px">
       <div class="guiblock-title">
         <%=t.view_management.view_preview.title%>
       </div>     
       <form name="view-preview">
         <div class="formrow">
           <label for="arguments" class="fieldtitle"><%=t.view_management.view_preview.arguments%></label>
           <input type="text" name="arguments" id="arguments" maxlength="80" size="80" class="fieldcontrol"/>
         </div>
         <div class="formrow">
           <input type="button" name="view-preview" id="view-preview" class="view-preview" value="Preview"/>
         </div>
       </form>
       <div id="view-preview-result">
       </div>  
     </div>

     <%% if (entity) { %>
     <div id="export_clone_view" class="guiblock" style="margin:5px">
        <div class="guiblock-title">
          <%= t.view_management.export_clone.title %>
        </div>
        <div class="form-row">
           <div class="form-button">
             <a href="/export/view/<%%=entity.view_name%>"><%=t.view_management.export_clone.export.title%></a>
           </div>
        </div>
    </div>     
    <%% } %>

</script>

<%= import_form_extension %>

<script type="text/javascript">
 
 require(['jquery','YSDEntityManagement','YSDEntityManagementComplementHooks','YSDRemoteDataSource','YSDSelectSelector', 'YSDMemoryDataSource', 'YSDForms'],
         function($, EntityManagement, EntityManagementComplementHooks, RemoteDataSource, SelectSelector, MemoryDataSource, YSDForms) {
 
  function ViewHook() {
 	   
    this.manager = null;
 	  this.entity = null;
 	  this.pagers = JSON.parse('<%=pagers%>');

    this.entityKey = function(entity) {
      return entity.view_name;
    }

    this.onEdit = function(entity) {
      this.entity = entity;	
      $('#view_name').attr('readonly', true);
      $('#model_name').focus();  	
      this.configForm(entity);
      this.buildViewRenders(entity.style);
    };
  
    this.onNew = function() {
      this.entity = null;
      $('#model_name').val('content');
      $('#data_repository').val('default');
  	  $('#view_name').focus();
  	  this.configForm(null);
    }
    
    this.onRender = function(entity) {
     this.configPreview(entity);
    }
                
    this.adaptFormData = function(data) {
    
      var send = {};
      
      for (idx in data) {

        var value = null;
        
        switch (idx) {

          case 'v_fields':
            if (data.viewStyle == 'teaser') {
              value = []; 
            }
            else {
              value = (data[idx] == '' || data[idx] == 'null')?[]:JSON.parse(data[idx]);
            }
            break;

          case 'query_conditions':
            value = (data[idx] == '' || data[idx] == 'null')?{}:JSON.parse(data[idx]); 
            break;

          case 'query_order':
            value = (data[idx] == '' || data[idx] == 'null')?[]:JSON.parse(data[idx]); 
            break;

          case 'query_arguments':
            value = (data[idx] == '' || data[idx] == 'null')?[]:JSON.parse(data[idx]);
            break;

          case 'render_options':
            value = (data[idx] == '' || data[idx] == 'null')?{}:JSON.parse(data[idx]);
            break;

          default:
            value = data[idx];
        }
        
        send[idx] = value;  
        
      }
 
      return send;
      
    }

    this.configForm = function(entity) {
        
       $('#tabs').tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
       $('#tabs li').removeClass("ui-corner-top").addClass( "ui-corner-left" );

       // Configure the models
       var dataSourceModel = new RemoteDataSource('/view-models',{'id':'view_entity_model','description':'view_entity_description'});
       var valueModel = (entity && entity.model_name)?entity.model_name:null; 
       var selectorModel = new SelectSelector('model_name', dataSourceModel, valueModel, false );             

       // Configure the styles
       var dataSourceStyles = new RemoteDataSource('/view-styles',{'id':'id','description':'description'});
       var valueStyles = (entity && entity.style)?entity.style:null; 
       var selectorStyles = new SelectSelector('style', dataSourceStyles, valueStyles, false );             
       var self = this;
       
       if (entity == null) 
       {
          dataSourceStyles.addListener('data_available', function(event) {
             if (event.data && event.data.length > 0) {
               self.configViewStyle(event.data[0].style);
             }
           });
       }
       else {
        self.configViewStyle(entity.style);
        self.configPagination();
       }

       $('#style').change(function(event) { 
         self.changeViewStyle(event);
       });

       // Configure pagination      	   
     	 $("input[name=pagination]").change(function(event) {
     	   self.changePagination(event);
     	 });
        
       // Configure pagers
       var pagerDataSource = new MemoryDataSource(this.pagers);
       var pagerValue = (entity && entity.pager)?entity.pager:null;
       var selectPager = new SelectSelector('pager', pagerDataSource, pagerValue);       

       // Limit the text area length
       YSDForms.limit_text_area_content_size(document.getElementById('description'), 256, 
           function (content_remain) {
             document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
           }
       );    

       // Configure preview
       this.configPreview(entity);
    	
    }
    
    /* ----- View style ------- */

  	this.changeViewStyle = function(event) {
  	
  	  var viewStyle = $('#style option:selected').val();

      this.configViewStyle(viewStyle); 
  	    		
  	}
  	
    this.configViewStyle = function(viewStyle) {

      if (viewStyle == 'teaser') {
        $('#view_fields_row').hide();  
      }
      else {
        $('#view_fields_row').show();
      }  

      this.buildViewRenders(viewStyle);

    }

    this.buildViewRenders = function(viewStyle) {

      var dataSourceRenders = new RemoteDataSource('/view-renders/'+viewStyle,{'id':'id','description':'description'});
      var valueRenders = (this.entity && this.entity.render)?this.entity.render:null; 
      var selectorRenders = new SelectSelector('render', dataSourceRenders, valueRenders, false );     
               
    }
    
    /* ------ Pagination ------ */

  	this.changePagination = function(event) {
  	
  	  this.configPagination();

  	}
        
    this.configPagination = function() {

      var pagination = ($(document.forms["element"].pagination).val() == "true");  
  
      if (pagination) {
        $('#page_size_row').show(); 
      }
      else {
        $('#page_size_row').hide();
      }  

    }

    /* ------- Preview ------- */

    this.configPreview = function(entity) {

      this.entity = entity;
      var self = this;  
      $('.view-preview').bind('click', 
           function event(event) {
             self.preview(entity, $('#arguments').val()); 
           });

    }

    this.preview = function(entity, args) { /* preview the view */

      var doPreview = function() {

        var view = entity;  
        var url = '/preview/view/'+view.view_name;
      
        if (args.length > 0) {
          url += '/' + args;
        }
      
        $("#view-preview-result").load(url);
/*
        $.ajax({url: url,
              success: function(data, textStatus, jqXHR) { 
                $('#view-preview-result').html(data); 
              },
              error: function(data, textStatus, jqXHR) {
                viewsManager.view.notify_user('Error retrieving data', 'Server error retrieving data');
              }
        }); */
      };

      if (this.manager.view.isFormElementMode()) {
        this.manager.model.update(null, doPreview);
      }
      else {
        doPreview();
      }
      	     
    }
  	

  };
  
  var urls = { 
  	      query_url  : '/views',
    	    create_url : '/view',
  	      update_url : '/view',
  	      delete_url : '/view',
  	      get_url    : '/view'
  	     };
  
  var viewHook = new ViewHook();
  var hooks = [viewHook];
  hooks = hooks.concat(EntityManagementComplementHooks.complements);  

  var viewsManager = new EntityManagement(urls, 'view', 12, hooks, {hold_form_after_action:true});
   
  viewHook.manager = viewsManager;

});
</script>
