<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.view_management.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  <%=t.view_management.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%">View</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
         <th class="table-header-title" scope="col" style="width:15%">Style</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>
  
  <!--button id="import_button" class="form-button">Importar</button-->

  <%#= import_form %>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.view_name %></td>
      <td class="table-cell"><%%= entity.description %></td>
      <td class="table-cell"><%%= entity.style %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel">Name</div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.view_name %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Description</div> <div class="entity-fieldvalue"><%%= entity.description %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Model</div><div class="entity-fieldvalue"><%%=entity.model_name%></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Style</div><div class="entity-fieldvalue"><%%=entity.style%></div></div>
       <div class="entity-field"><div class="entity-fieldlabel">Title</div><div class="entity-fieldvalue"><%%=entity.title%></div></div>             
       <div class="entity-field"><div class="entity-fieldlabel">Fields</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.v_fields)%></code></div>
       <div class="entity-field"><div class="entity-fieldlabel">Conditions</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_conditions)%></code></div>
       <div class="entity-field"><div class="entity-fieldlabel">Order</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_order)%></code></div>       
       <div class="entity-field"><div class="entity-fieldlabel">Arguments</div><code class="entity-fieldvalue"><%%= JSON.stringify(entity.query_arguments)%></code></div>       
       <div class="entity-field"><div class="entity-fieldlabel">URL</div> <div class="entity-fieldvalue"><a href="/<%%=entity.url%>" target="_blank"><%%= entity.url %></a></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Render</div> <div class="entity-fieldvalue"><%%= entity.render %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Limit</div> <div class="entity-fieldvalue"><%%= entity.view_limit %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Pagination</div> <div class="entity-fieldvalue"><%%= entity.pagination %></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel">Page size</div> <div class="entity-fieldvalue"><%%= entity.page_size %></div> </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Datos de la vista</h3>
              </div>
              <div class="block-content">
                
                <form name="element">

                  <div class="formrow">
                    <label for="view_name" class="fieldtitle"><%=t.view_management.form.name.label%><span class="mandatoryfield">*</span></label>
                    <input type="text" maxlength="32" id="view_name" name="view_name" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.view_name%>" <%% } %> />
                    <div class="fielddescription"><%=t.view_management.form.name.description%></div>
                  </div>

                  <ul class="nav nav-tabs" data-toggle="tabs">
                    <li class="active">
                      <a href="#btabs-static-view-description" data-toggle="tab"><%=t.view_management.form.description_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-style" data-toggle="tab"><%=t.view_management.form.style_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-query" data-toggle="tab"><%=t.view_management.form.query_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-result" data-toggle="tab"><%=t.view_management.form.result_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-page" data-toggle="tab"><%=t.view_management.form.page_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-meta" data-toggle="tab"><%=t.view_management.form.meta_block.label%></a>
                    </li>
                    <li>
                      <a href="#btabs-static-view-extras" data-toggle="tab"><%=t.view_management.form.extras_block.label%></a>
                    </li>                  
                  </ul>
                  <div class="tab-content clearfix">
                    <!-- Description -->
                    <div class="tab-pane active" id="btabs-static-view-description">
                      <div class="formrow">
                        <label for="description" class="fieldtitle"><%=t.view_management.form.description.label%></label>
                        <textarea name="description" id="description" class="form-control" rows="10"><%% if (entity) { %><%%=entity.description%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.description.description%></div>
                      </div>
                      <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>                
                    </div>
                    <div class="tab-pane" id="btabs-static-view-style">
                      <!--div class="formrow">
                        <label for="style" class="fieldtitle"><%=t.view_management.form.style.label%></label>
                        <select name="style" id="style" class="fieldcontrol"></select>
                        <div class="fielddescription"><%=t.view_management.form.style.description%></div>
                      </div-->
                      <!--div id="view_fields_row" class="formrow">
                        <label for="v_fields" class="fieldtitle"><%=t.view_management.form.fields.label%></label>
                        <textarea id="v_fields" name="v_fields" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.v_fields)%><%% } %></textarea>  
                        <div class="fielddescription"><%=t.view_management.form.fields.description%></div>
                      </div-->
                      <div class="formrow">
                        <label for="render" class="fieldtitle"><%=t.view_management.form.render.label%></label>
                        <select name="render" id="render" class="fieldcontrol"></select>
                        <div class="fielddescription"><%=t.view_management.form.render.label%></div>
                      </div>
                      <!--div class="formrow">
                        <label for="render_options" class="fieldtitle"><%=t.view_management.form.render_options.label%></label>
                        <textarea id="render_options" name="render_options" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.render_options)%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.render_options.description%></div>
                      </div-->                 
                    </div>
                    <div class="tab-pane" id="btabs-static-view-query">
                      <div class="formrow">
                        <label for="model_name" class="fieldtitle"><%=t.view_management.form.model.label%></label>
                        <select id="model_name" name="model_name" class="fieldcontrol"></select>
                        <div class="fielddescription"><%=t.view_management.form.model.description%></div> 
                      </div>
                      <div class="formrow">
                        <label for="query_conditions" class="fieldtitle"><%=t.view_management.form.conditions.label%></label>
                        <textarea id="query_conditions" name="query_conditions" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_conditions)%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.conditions.description%></div>
                      </div>
                      <div class="formrow">
                        <label for="query_order" class="fieldtitle"><%=t.view_management.form.order.label%></label>
                        <textarea id="query_order" name="query_order" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_order)%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.order.description%></div>  
                      </div>                    
                      <div class="formrow">
                        <label for="query_arguments" class="fieldtitle"><%=t.view_management.form.arguments.label%></label>
                        <textarea id="query_arguments" name="query_arguments" rows="5" class="fieldcontrol"><%% if (entity) { %><%%=JSON.stringify(entity.query_arguments)%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.arguments.description%></div>  
                      </div>                 
                    </div>
                    <div class="tab-pane" id="btabs-static-view-result">
                      <div class="formrow">
                         <label for="query_limit" class="fieldtitle"><%=t.view_management.form.limit.label%></label>
                         <input type="text" maxlength="3" id="view_limit" name="view_limit" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.view_limit%>" <%% } else { %> value="0" <%% } %> />
                         <div class="fielddescription"><%=t.view_management.form.limit.description%></div> 
                      </div>
                      <div class="formrow">
                        <label for="pagination" class="fieldtitle"><%=t.view_management.form.pagination.label%></label>
                        <input type="radio" name="pagination" id="pagination_true" value="true" <%%if (entity && entity.pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                        <input type="radio" name="pagination" id="pagination_false" value="false" <%%if (entity && !entity.pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
                      </div>  
                      <div class="formrow">
                        <label for="ajax_pagination" class="fieldtitle"><%=t.view_management.form.ajax_pagination.label%></label>
                        <input type="radio" name="ajax_pagination" id="ajax_pagination_true" value="true" <%%if (entity && entity.ajax_pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                        <input type="radio" name="ajax_pagination" id="ajax_pagination_false" value="false" <%%if (entity && !entity.ajax_pagination) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
                      </div>                            
                      <div class="formrow" id="page_size_row">
                         <label for="page_size" class="fieldtitle"><%=t.view_management.form.page_size.label%></label>
                         <input type="text" maxlength="3" id="page_size" name="page_size" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.page_size%>" <%% } else { %> value="0" <%% } %> />
                         <div class="fielddescription"><%=t.view_management.form.page_size.description%></div> 
                      </div>   
                      <div class="formrow">
                         <label for="pagination" class="fieldtitle"><%=t.view_management.form.pager.label%></label>
                         <select name="pager" id="pager" class="fieldcontrol"></select>
                         <div class="fielddescription"><%=t.view_management.form.pager.description%></div>
                      </div>              
                    </div>
                    <div class="tab-pane" id="btabs-static-view-page">
                      <div class="formrow">
                        <label for="title" class="fieldtitle"><%=t.view_management.form.title.label%></label>
                        <input type="text" maxlength="80" id="title" name="title" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.title%>" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.title.description%>.</div>
                      </div>
                      <div class="formrow">
                        <label for="header" class="fieldtitle"><%=t.view_management.form.header.label%></label>
                        <textarea name="header" id="view_header" class="fieldcontrol editable_text" rows="5"><%% if (entity) { %><%%=entity.header%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.header.description%></div>
                      </div>
                      <div class="formrow">
                        <label for="footer" class="fieldtitle"><%=t.view_management.form.footer.label%></label>
                        <textarea name="footer" id="description" class="fieldcontrol editable_text" rows="5"><%% if (entity) { %><%%=entity.footer%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.footer.description%></div>
                      </div>               
                      <div class="formrow">
                        <label for="script" class="fieldtitle"><%=t.view_management.form.script.label%></label>
                        <textarea name="script" id="script" class="fieldcontrol editable_text" rows="5"><%% if (entity) { %><%%=entity.script%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.script.description%></div>
                      </div>              
                      <div class="formrow">
                        <label for="page_style" class="fieldtitle"><%=t.view_management.form.style.label%></label>
                        <textarea name="page_style" id="page_style" class="fieldcontrol editable_text" rows="5"><%% if (entity) { %><%%=entity.page_style%><%% } %></textarea>
                        <div class="fielddescription"><%=t.view_management.form.style.description%></div>
                      </div>                                                                      
                      <div class="formrow">
                        <label for="url" class="fieldtitle"><%=t.view_management.form.url.label%></label>
                        <input type="text" maxlength="256" id="url" name="url" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.url%>" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.url.description%></div>
                      </div>
                      <div class="formrow">
                        <label for="cache_life" class="fieldtitle"><%=t.view_management.form.cache_life.label%></label>
                        <input type="text" maxlength="10" id="cache_life" name="cache_life" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.cache_life%>" <%% } else { %> value="180" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.cache_life.description%></div>
                      </div>                  
                    </div>
                    <div class="tab-pane" id="btabs-static-view-meta">
                      <div class="formrow">
                        <label for="page_author" class="fieldtitle"><%=t.view_management.form.page_author.label%></label>
                        <input type="text" maxlength="256" id="page_author" name="page_author" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.page_author%>" <%% } %> />
                      </div>              
                      <div class="formrow">
                        <label for="page_description" class="fieldtitle"><%=t.view_management.form.page_description.label%></label>
                        <textarea rows="4" id="page_description" name="page_description" class="fieldcontrol"><%% if(entity) {%><%%=entity.page_description %> <%% } %></textarea>
                      </div>
                      <div class="formrow">
                        <label for="page_summary" class="fieldtitle"><%=t.view_management.form.page_summary.label%></label>
                        <textarea rows="3" id="page_summary" name="page_summary" class="fieldcontrol"><%% if (entity) {%><%%=entity.page_summary %> <%% } %></textarea>
                      </div>              
                      <div class="formrow">
                        <label for="page_keywords" class="fieldtitle"><%=t.view_management.form.page_keywords.label%></label>
                        <textarea rows="3" id="page_keywords" name="page_keywords" class="fieldcontrol"><%% if (entity) {%><%%=entity.page_keywords %> <%% } %></textarea>
                      </div>
                      <div class="formrow">
                        <label for="page_language" class="fieldtitle"><%=t.view_management.form.page_language.label%></label>
                        <input type="text" maxlength="3" id="page_language" name="page_language" class="fieldcontrol" <%% if (entity) {%> value="<%%=entity.page_language %>"<%% } %>/>
                      </div>  
                    </div>
                    <div class="tab-pane" id="btabs-static-view-extras">
                      <div class="formrow">
                        <label for="block" class="fieldtitle"><%=t.view_management.form.block.label%></label>
                        <input type="radio" name="block" id="block_true" value="true" <%%if (entity && entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                        <input type="radio" name="block" id="block_false" value="false" <%%if (entity && !entity.block) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
                      </div>
                      <div class="formrow">
                        <label for="show_number_of_results" class="fieldtitle"><%=t.view_management.form.show_number_of_results.label%></label>
                        <input type="radio" name="show_number_of_results" id="show_number_of_results_true" value="true" <%%if (entity && entity.show_number_of_results) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_yes.label%>
                        <input type="radio" name="show_number_of_results" id="show_number_of_results_false" value="false" <%%if (entity && !entity.show_number_of_results) { %>checked="checked"<%%}%>/><%= t.view_management.form.rb_no.label%>
                        <div class="fielddescription"><%=t.view_management.form.show_number_of_results.description%></div>
                      </div>               
                      <div class="formrow">
                        <label for="num_of_results_no_data_text" class="fieldtitle"><%=t.view_management.form.num_of_results_no_data_text.label%></label>
                        <input type="text" maxlength="80" id="num_of_results_no_data_text" name="num_of_results_no_data_text" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.num_of_results_no_data_text%>" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.num_of_results_no_data_text.description%></div>
                      </div>
                      <div class="formrow">
                        <label for="num_of_results_1_data_text" class="fieldtitle"><%=t.view_management.form.num_of_results_1_data_text.label%></label>
                        <input type="text" maxlength="80" id="num_of_results_1_data_text" name="num_of_results_1_data_text" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.num_of_results_1_data_text%>" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.num_of_results_1_data_text.description%></div>
                      </div>  
                      <div class="formrow">
                        <label for="num_of_results_text" class="fieldtitle"><%=t.view_management.form.num_of_results_text.label%></label>
                        <input type="text" maxlength="80" id="num_of_results_text" name="num_of_results_text" class="fieldcontrol" <%% if (entity) { %> value="<%%=entity.num_of_results_text%>" <%% } %> />
                        <div class="fielddescription"><%=t.view_management.form.num_of_results_text.description%></div>
                      </div>               
                    </div>
                  </div>  
                  <hr>
                  <div class="form-group">
                    <div class="col-md-12">
                        <%% if (entity) { %>
                        <input type="button" class="btn btn-sm btn-primary update-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.update%>"/>
                        <%% } else { %>
                        <input type="button" class="btn btn-sm btn-primary create-entity-button action-button entity-management-button pull-right" value="<%=t.entitymanagement.create%>"/>
                        <%% } %>
                    </div>
                  </div>     
                  <br><br><br>             
                </form>  
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="block block-content-full">
              <div class="block-header bg-gray-lighter">
                <h3 class="block-title">Resultado</h3>
              </div>
              <div class="block-content">
                <form name="view-preview" class="form-horizontal">            
                   <div class="formrow">
                     <label for="arguments" class="fieldtitle"><%=t.view_management.view_preview.arguments%></label>
                     <input type="text" name="arguments" id="arguments" maxlength="80" size="80" class="fieldcontrol"/>
                   </div>
                   <div class="formrow">
                     <input type="button" name="view-preview" id="view-preview" class="btn btn-primary view-preview" value="Preview"/>
                   </div>
                </form>
                <div id="view-preview-result">
                </div>      
                <br>
                <br>         
              </div>
            </div>
          </div>
        </div>    

                  
     <%% if (entity) { %>
     <!--div id="export_clone_view" class="guiblock" style="margin:5px">
        <div class="guiblock-title">
          <%= t.view_management.export_clone.title %>
        </div>
        <div class="form-row">
           <div class="form-button">
             <a href="/api/view/export/<%%=entity.view_name%>"><%=t.view_management.export_clone.export.title%></a>
           </div>
        </div>
    </div-->     
    <%% } %>

</script>

<%= import_form_extension %>